[2019-06-12 18:11] sidhujag opened #4 "merging not working with ecma6 style imports"
Hi There,

These are my contracts, which are a part of the bridge work from Syscoin <-> Ethereum:

https://etherscan.io/address/0x197a2f58c94eff4b2c6ae0922fbc840080f839c2#contracts
https://etherscan.io/address/0x94bb1afd55616daae06c5014d083f506c5a02619#contracts
https://etherscan.io/address/0x35dfdcf5bb289a8bb994e0a4e3554a4dae504483#contracts
https://etherscan.io/address/0xced7ce5c336bb31f35bc5bdc

[2019-06-13 00:36] rkalis commented on #4
Thanks for opening this issue you are a total rockstar for digging deep and finding out the cause of these issues 💪.

I see you opened a ticket on the sol-merger about the importing as well. Thanks for that. When they are able to figure this out, I will update the dependency and make sure it's available in the next version.

Regarding the library linking, I just added the functionality to detect l

[2019-06-14 01:17] sidhujag commented on #4
@rkalis awesome thanks man.. yea the problem I didn't see because im a C++ guy is that imports with aliases are hard to static analyze to figure out what to do when merging, he responded to his commit.. till now I think its best if we do standard imports (thats what I did) I removed the ECMA6 import format and just used the simple format and with your library fix it should work now.. cool I'll tes

[2019-06-26 22:17] SeanJCasey opened #6 "Namespace conflict with MythX"
`truffle run verify [MyContract]` is the same plugin command used by the MythX plugin. I had to remove `truffle-security` from plugins to use this one.

https://github.com/ConsenSys/truffle-security

[2019-06-26 23:01] rkalis commented on #6
Hey @SeanJCasey, this is something I noticed as well after publishing this plugin. Would have been very easy to avoid if I had looked into it before creating this plugin 😅.

Right now I'm a bit hesitant to change the command, especially since the plugin is called `truffle-plugin-verify`, it might be confusing if the command `verify` doesn't work.

Ideally, I would like to configure a fallback comm

[2019-06-27 00:23] julien51 commented on #6
Ha! We just bumped into the exact same issue :/

[2019-06-27 00:57] julien51 opened #8 "Support for contracts deployed via a factory?"
Hello! Thanks for your work on this! This is very exciting for us!

That said, we have a challenge because the contract we'd like to verify (this [one](https://etherscan.io/address/0x75fa3aa7e999b9899010c5f05e52cd0543dab465) for example) is deployed via another contract.

It looks like this causes 2 different issues:
1. It needs an address inside of the `PublicLock.json`. This is one is easy, I ju

[2019-06-27 01:10] gnidan commented on #6
Oh hey you found the wart! We skimmed over this in our initial implementation. We'll get this sorted out. Thanks for letting us know it's causing issues.

[2019-06-27 01:12] gnidan commented on #6
(Quick follow-up, but there's more detail I can go into once I'm on my computer)

Basically, there needs to be a way for users:
- to configure specific renames for plugins, and/or
- a way to disambiguate plugin commands by specifying the plugin name also

If anyone has implementation thoughts or feels like taking a stab at this, would definitely appreciate that!

[2019-06-27 02:01] rkalis commented on #6
Perhaps specifying a list of objects with an optional override key, rather than strings could be done. eg:

[code]

Could perhaps even be combined? eg:

[code]

[2019-06-27 02:03] rkalis commented on #8
Have you been able to verify these contracts manually through Etherscan? If so, what were the steps you took?

[2019-06-27 16:34] gnidan commented on #6
I think definitely we want the "combined" option!

Another syntax idea, just to brainstorm:
[code]

I don't know, maybe there's something here.

I think the other front is probably easier, the "run command from specific plugin" side:
[code]

But then long package names start to get in the way. Maybe the plugin configuration needs some kind of rename system?

[code]

This is kind of heavy-handed fo

[2019-06-29 05:46] rkalis commented on #6
I think I like this one better, just because it's less clutter. I think this might be one of the least cluttered ways to achieve command reassignment.

[code]

[2019-06-29 20:51] sidhujag commented on #4
@rkalis Good work my man! It just works OOTB. Verified my contracts on first pass.

[2019-06-29 20:51] #4 closed

[2019-07-04 22:35] PaulRBerg opened #10 "Doesn't work in yarn workspaces"
Yarn workspaces is this new way of intelligently managing your npm modules in a monorepo by installing them only once (or multiple times if there are overlapping versions). What it does is that it aggregates all the modules at the root of your project.

If I install truffle-plugin-verify in [the "contracts" package of this monorepo](https://github.com/SablierApp/sablier/tree/master/packages/contra

[2019-07-09 04:35] sidhujag opened #11 "issues with solc 0.5.10 and truffle v5.0.24"
Truffle v5.0.24 (core: 5.0.24)
Solidity v0.5.0 (solc-js)
Node v11.13.0
Web3.js v1.0.0-beta.37

Verifying SyscoinBattleManager
{"status":"0","message":"NOTOK","result":"Fail - Unable to verify"}
Fail - Unable to verify

Failed to verify 1 contract(s): SyscoinBattleManager

The input is like this:
{ apikey: '<blanked>',
  module: 'contract',
  action: 'verifysourcecode',
  contractaddress: '0x47C450

[2019-07-12 02:06] rkalis commented on #11
Hmm. When trying it out I get a different sourceCode field for SyscoinBattleManager, but it also doesn't verify correctly.

I tried the following ways:

* Outputted all information from the plugin, and manually copy-pasting it into the Etherscan verification form. This succeeded.
    ![Manual verification](https://i.imgur.com/OiNIDH0.png)
* Using the plugin (which should use the exact same informa

[2019-07-12 02:12] rkalis commented on #10
Good workaround to install globally for now I guess, but it's preferable to include it in the local project.

This sounds like it affects all Truffle plugins, so I think this issue should be added to the Truffle repo instead, so it can be tracked there. What do you think @gnidan?

[2019-07-12 03:00] sidhujag commented on #11
the only thing i can think of is that the sourceCode field has "\n" for new lines but you put in the actual code, when I did that I get manual verification to work but solc puts "\n" I switched to v5 solidity and it started to do that.

[2019-07-12 04:10] gnidan commented on #10
Oh yes please! Looks like this repo is the Truffle plugin issues home away from home :)

I'll make the trufflesuite/truffle issue tomorrow if no one beats me to it.

[2019-07-12 12:12] mtbitcoin commented on #11
We're looking into this for you and will revert once we have a fix or know what the issue is. Thank you

[2019-07-12 12:19] PaulRBerg commented on #10
Thanks guys!

[2019-07-12 17:31] sidhujag commented on #11
thanks your a star

[2019-07-12 17:36] mtbitcoin commented on #11
We're still testing the fix but the https://rinkeby.etherscan.io/address/0x47c450c0c189e4e6ddbe84adcb4ff7e3e06d0601#code has been verified

[2019-07-13 16:12] sidhujag commented on #11
Nice let me know I can redeploy and try it

[2019-07-15 10:32] kvrnc commented on #11
A fix has been updated, kindly give it another try.

Kav

[2019-07-17 23:25] sidhujag commented on #11
Hi Kav,

Where is the fix? What do I pull?

[2019-07-18 04:19] rkalis commented on #11
Awesome! I just tried it out as well, seems to be working well. Thanks for the fix @mtbitcoin @kvrnc. Closing this issue.

[2019-07-18 04:19] #11 closed

[2019-08-13 13:01] filippetroviccc opened #13 "Cannot verify complex contract infrastructure"
Hi,

I am trying to verify contracts from this repo `https://github.com/swarmfund/swarm-compliant-contract`.

But my contracts cannot get verified.

Here are the migration scripts.

1_deploy_src20registry.js
[code]

2_deploy_factory.js
[code]

Here is `truffle-config.js`

[code]

Looking forward to this issue beeing fixed @rkalis  :)

[2019-08-13 16:15] rkalis commented on #13
Thanks for opening this issue. I'm currently on holiday, so I'll be able to take a look at this next week.

[2019-08-21 11:18] JohannesMayerConda opened #14 "JavaScript heap out of memory when verifying contracts with circular dependencies"
I get the following error:

<--- Last few GCs --->

[38003:0x102804000]   172720 ms: Scavenge 1214.8 (1437.4) -> 1199.8 (1438.4) MB, 3.3 / 0.0 ms  (average mu = 0.282, current mu = 0.184) allocation failure
[38003:0x102804000]   173260 ms: Mark-sweep 1215.2 (1438.4) -> 1196.5 (1436.4) MB, 516.1 / 0.0 ms  (average mu = 0.387, current mu = 0.474) allocation failure scavenge might not succeed
[38003:

[2019-08-21 12:50] JohannesMayerConda commented on #14
Update: I then used my custom truffle-flattener and it told me that there is a circular dependency. I could exchange the used contract with a simple ERC20 interface and the error disappeared for my custom truffle-flattener. Now it says "Fail - Unable to verify"

[2019-08-21 13:33] JohannesMayerConda commented on #14
Update: I could verify with my custom truffle-flattener but not with truffle-plugin-verify. The reason could be the ctor arguments. I had to generate and paste the bytecode on the etherscan website.

[2019-09-01 23:05] prestwich opened #15 "extra linebreaks are inserted randomly in verified code"
Verified code is [here](https://ropsten.etherscan.io/address/0xBA0BD26775477b077741fDbB67BEDA38B19385A9#code)

Many extra line breaks are inserted throughout the verified code. Particularly between logical blocks

[2019-09-02 11:16] filippetroviccc commented on #13
ping @rkalis

[2019-09-08 01:02] travisdmathis opened #16 "Invalid API Key"
Every time I try to verify I get "Invalid API Key" it worked 1 time, 2nd time it fails every time.

[code]

[2019-09-09 02:18] ferittuncer commented on #14
I experienced the same. My source code has circular dependency too, perhaps that's why.

[2019-09-09 02:19] ferittuncer opened #17 "Feature Request: Circular Dependency"
Please support source codes with circular dependency.

[2019-09-09 03:17] rkalis commented on #14
Hey guys, do you have an example repository or something I can use to reproduce these issues?

[2019-09-09 06:07] rkalis commented on #16
I cloned your repository, ran your migrations on goerli, and then I verified it. I redeployed and reverified a few times, but I could not reproduce your error. I did see that you have your mnemonic and API key in your GitHub repo, rather than in a private `.env` file. It might be that Etherscan automatically disables API keys if they are compromised (i.e. available to the public), but again I was

[2019-09-09 08:59] rkalis commented on #15
Hmm yeah that's odd indeed. I'm thinking this might have something to do with [sol-merger](https://github.com/RyuuGan/sol-merger), which is the dependency that truffle-plugin-verify uses to flatten contract code. Any thoughts, @RyuuGan?

[2019-09-09 09:03] RyuuGan commented on #15
@rkalis, @prestwich  They are not randomly. Before there were comments, but since `1.0.0` comments are removed but instead empty lines are in their place.

[2019-09-09 09:16] rkalis commented on #15
Ah that explains it. Is the deletion of comments intentional? If so, what's the rationale behind it?

[2019-09-09 10:07] rkalis commented on #13
Hey thanks for the additional ping. Sorry for dropping the ball on this one. I finally came back to the real world after finishing my Master's thesis.

I'm trying to debug this one, but when I clone the repo you linked, the code is very different from what you posted in here. I copy-pasted in your comments above, and was able to run the migrations, and pushed the code to a new repo [rkalis/issue13

[2019-09-09 12:35] travisdmathis commented on #16
@rkalis i think you might be right.. because it would work 1 time then fail.. was for a ETHBoston and was a burner wallet so that didn't even cross my mind....

[2019-09-09 14:21] prestwich commented on #15
why delete the text but leave the linebreak?

[2019-09-09 15:56] filippetroviccc commented on #13
Thank you for taking the time researching the issue that could have happened.

I'll try to remove all solidity keywords from comments and revert messages in order for this to go through.

Are you aware of any other problem that I can encounter when verifying contract?

[2019-09-09 16:25] RyuuGan commented on #15
@rkalis Deletion of comments was intentional, because I didn't want to write parser for comments.

@prestwich I use library that deletes comments, and it behaves likes like this. It removes only comments but blank lines with the spaces are left.

[2019-09-09 16:30] RyuuGan commented on #13
@rkalis I can check it out, it might be a bug in `sol-merger`, but not sure when it will be.

[2019-09-10 20:22] RyuuGan commented on #13
@rkalis, @filippetroviccc

I fixed the `sol-merger`. So update the library version and it should close this issue.

[2019-09-11 16:07] filippetroviccc commented on #13
Hey @rkalis,

Just want to know what is your possible ETA on this? Just want to organize my work and sorry for additional ping.

[2019-09-11 23:53] rkalis commented on #13
Just published `truffle-plugin-verify@0.3.3`, which uses the updated `sol-merger@1.0.1`. With this version I was able to verify your contracts (e.g. https://rinkeby.etherscan.io/address/0x3B79aAE4c61Bf311093F0F97300514DB8A6B9923#contracts)

[2019-09-11 23:53] #13 closed

[2019-09-11 23:54] rkalis commented on #16
Is it working correctly for you now?

[2019-09-12 20:41] sidhujag opened #18 "Failed to verify contracts with proxy"
Hey there again!

So we've added proxies to our contracts and I was trying to run verify again and found that it was erroring out, I see a "Fail - Unable to verify". Do you handle proxy implementations?

This is the repo: https://github.com/syscoin/sysethereum-contracts/tree/validateallheaders

[2019-09-13 12:47] rkalis commented on #18
Hey, I'm not sure what is needed to verify these kind of proxy contracts. Have you been able to verify them manually in Etherscan? What were the steps you took to make it work?

[2019-09-13 14:43] sidhujag commented on #18
i'll give it a try

[2019-09-23 07:46] rkalis opened #20 "Support EVM version target"
Truffle allows you to specify an EVM version in the compiler settings. Etherscan allows you to specify this EVM version as well in the verify wizard on their website. However, there's no option for this in the Etherscan verify API, making it impossible for `truffle-plugin-verify` to support these EVM version targets.

If this is added to the Etherscan API support can be added to the plugin.

[2019-09-23 07:59] rkalis commented on #20
@mtbitcoin @kvrnc is this something that could be added to the verify API on your side?

[2019-09-23 15:30] mtbitcoin commented on #20
Sure, will add this into our issue tracker

[2019-09-24 01:48] rkalis commented on #10
I opened an [issue on trufflesuite/truffle](https://github.com/trufflesuite/truffle/issues/2409) for this. Closing it here.

[2019-09-24 01:48] #10 closed

[2019-09-24 02:16] gorgos commented on #8
My latest info is that it's not yet supported by Etherscan, see https://www.reddit.com/r/etherscan/comments/9uzw8i/eip1167_clonefactory_support/.

[2019-09-24 02:20] gorgos commented on #17
Currently results in an infinite loop AFAICS.

[2019-09-30 14:17] sidhujag commented on #18
So I tried using openzeppelin to verify and it didn't work, on telegram the admin said he was able to do SyscoinSuperblocks manually:

https://rinkeby.etherscan.io/address/0x0c66b9b6b839a7647c49affc9fa7e4464f1d4a0d#code

but that openzeppelin may not support libraries, I know we do so I'm wondering where the desrepency is:
https://forum.openzeppelin.com/t/openzeppelin-verify-failing-for-contract-w

[2019-10-03 00:16] rkalis commented on #18
I haven't been able to verify it succesfully, but if the issue is with the library link, perhaps you could try to manually hack the library links into the artifact. Or alternatively, if you can show me what steps you took to go from

[code]

to verifying the contract. I.e. where did you get the required information to pass into the web form on the Etherscan website?

[2019-10-14 13:42] Anthler commented on #6
I run into the same issues...Is there any workaround to this problem yet? thanks

[2019-10-15 01:18] rkalis commented on #6
A workaround that could be possible is that both the MythX guys and I define a second command in our truffle-plugin files. Then when both truffle-plugin-verify and truffle-security are installed together, a user could still use both of them by their "fallback" command. For me that would be `truffle run etherscan` and perhaps for truffle-security it could be `truffle run mythx`.

This would require

[2019-10-15 10:02] olegabr opened #21 "Fail - Unable to verify"
Token is compiled and deployed.
When I try to verify it I get:

[code]

contracts/Token.sol
==============

[code]

package.json
==========

[code]

migrations/2_deploy_contracts.js
=========================

[code]

truffle-config.js
===========

[code]

[2019-10-15 10:21] rkalis commented on #21
Thanks for the report! Quick few questions: does it work on testnet (e.g. rinkeby), and does it make a difference if you specifically specify `evmVersion: 'byzantium'`?

[2019-10-15 11:00] olegabr commented on #21
It failed for ropsten too. But I'm not sure it takes the network into account in the first place. Note the Warning about the --network key.

I have not tried the `byzantium` key.

I've succeeded (https://etherscan.io/address/0xf886A23D823b37ba338b4809D9eE1D94c1478089#code) with the https://github.com/RyuuGan/sol-merger tool, but with this workaround: https://github.com/RyuuGan/sol-merger/issues/21

[2019-10-16 00:39] rkalis commented on #21
Hmm if you needed to manually add something into the output of sol-merger, then I think that is the issue with truffle-plugin-verify as well, since the plugin uses sol-merger under the hood. So I'll wait to see if that can be solved on the sol-merger side, otherwise I'll research further.

[2019-10-16 00:44] rkalis commented on #21
About the unsupported flag warning, that was a Truffle bug that was fixed in [Truffle@5.0.38](https://github.com/trufflesuite/truffle/releases/tag/v5.0.38). The warning has no impact on the actual functioning of the plugin though, so the `--network` parameter is used correctly.

[2019-10-21 12:10] olegabr commented on #21
The https://github.com/RyuuGan/sol-merger/issues/21 issue is fixed.

[2019-10-21 12:10] #21 closed

[2019-10-24 08:05] b-mueller commented on #6
Bernhard from MythX here, damn! I agree it would be more logical if you guys used "verify" and we switched to something else, but it's near-impossible for us to change this now because it would break truffle-security in tons of CI pipelines. Users would not be happy.

@gnidan how about the fallback command, can we get that added?

[2019-10-24 20:29] rkalis commented on #6
Hey @b-mueller, thanks for the reply from your side. I just cloned truffle-security and truffle-plugin-verify and added a fallback command to the `truffle-plugin.json` files.

truffle-security:
[code]

truffle-plugin-verify:
[code]

Then I installed these packages into a SimpleStorage project and did some tests, with the following findings:

1. When there are two plugins with conflicting commands,

[2019-10-31 13:52] nklipa13 opened #22 "Not working for Kovan"
It seems that the verifier isn't working for the last two days.

Steps to reproduce:
Create new repo, follow all instructions from readme file with some simple test contract and try to verify on Kovan test network, haven't checked for other networks,

for Kovan it says "Unable to verify",
for Mainnet says "No instance of contract Test found for network id 1"

[2019-10-31 22:36] rkalis commented on #22
Hey, thanks for opening this issue. I tried to do a test with a SimpleStorage instance on Rinkeby, and I got the same results. I outputted the data I sent to the Etherscan API:

[code]

I tried copy-pasting these values into the [Etherscan verify web form](https://rinkeby.etherscan.io/verifyContract). This worked correctly.

So then I tried copy-pasting these values into the [Etherscan verify API

[2019-11-01 03:16] mtbitcoin commented on #22
We are looking into this. We did recently push some changes to support submitting standard input json contract verification

[2019-11-01 06:10] Enigmatic331 commented on #22
Hey @rkalis - Have done a quick test using the same source through the Rinkeby's verify API demo - Seemed to work fine on my end with the contract: https://rinkeby.etherscan.io/address/0xa70e7FB5aad8f9FF2dDec26bbf54dAA026f72FbD#code

Likewise for Kovan: https://kovan.etherscan.io/address/0x7Ff1037803575eE91B13C25A145d68D5Adb6E8A6

A quick screencap on the settings (perhaps some bits of the setting

[2019-11-01 08:32] Enigmatic331 commented on #22
Hey @rkalis - Fixes were pushed across and a few tests were done (e.g.: https://kovan.etherscan.io/address/0x144f09D87A02719c869cfE407b5e1188a7DB59fa#code)

Any chance for a retry to see if it looks good now, please?
Many thanks!

[2019-11-01 09:32] nklipa13 commented on #22
@Enigmatic331 it seems that plugin is working properly now

[2019-11-01 16:03] rkalis commented on #22
Thanks for the quick fixes @mtbitcoin @Enigmatic331!

[2019-11-01 16:03] #22 closed

[2019-11-01 16:20] rkalis commented on #6
I just published `truffle-plugin-verify@0.3.5`. This release includes the fallback command `truffle run etherscan` with the same usage as `truffle run verify`. This can be used as an alternative when using both truffle-security and truffle-plugin-verify together.

I'd still recommend @b-mueller to do the same so the plugin order doesn't matter, but at least it's now possible to use these plugins t

[2019-11-01 16:20] #6 closed

[2019-11-01 16:21] rkalis commented on #20
This feature has been added to the Etherscan API, so I updated `truffle-plugin-verify@0.3.5` to include an automatic inference of the `evmTarget` settings in the `truffle-config.js` file.

[2019-11-01 16:21] #20 closed

[2019-11-06 23:35] nklipa13 commented on #14
Just run into same problem and made simple example code that you can test:

Test.sol
[code]

Test2.sol
[code]

So just two files importing each other and it fails for some reason, probably what @JohannesMayerConda mentioned with ctor arguments.

[2019-11-26 08:27] conlan opened #23 "Missing Comments?"
Hey there! Loving this tool so far -- the only issue is that it appears that comments aren't preserved after verifying?

You can see comments here:

<img width="904" alt="Screen Shot 2019-11-26 at 12 25 10 AM" src="https://user-images.githubusercontent.com/79074/69611797-6e417d80-0fe3-11ea-8729-ad0a0f795499.png">

but not showing up on etherscan verification:

<img width="668" alt="Screen Shot 201

[2019-11-26 13:01] rkalis commented on #23
Hi @conlan, thanks for opening this issue. A similar point was raised by @prestwich in #15 about seemingly random linebreaks, that turned out to be removed comments. Comments are removed because truffle-plugin-verify uses [sol-merger](https://github.com/RyuuGan/sol-merger) to flatten source files, which deletes the comments.

In #15 @RyuuGan said he didn't want to implement comment parsing in sol-

[2019-11-26 17:18] conlan commented on #23
Hey @rkalis okay thanks! I've found actually the exact issue here: https://github.com/RyuuGan/sol-merger/issues/19. Will move this over there!

[2019-11-26 17:18] #23 closed

[2019-12-04 16:57] danielrea commented on #6
@rkalis truffle run mythx can now be used as an alternative to truffle run verify

[2019-12-04 17:38] rkalis commented on #6
@danielrea Awesome work!

So as a reference to anyone finding this down the line.

If you want to use both truffle-plugin-verify, and truffle-security in the same project:
1. Use truffle-plugin-verify version `0.3.5` or higher & truffle-security version `1.6.2` or higher.
3. Use the command `truffle run etherscan` for truffle-plugin-verify & `truffle run mythx` for truffle-security.

[2019-12-10 13:06] hellwolf opened #24 "verifying contracts that was not deployed using truffle"
Without something like this:

[code]

We would have error "Cannot set property 'address' of undefined"

[2019-12-10 13:12] hellwolf commented on #24
[code]

[2019-12-10 14:03] rkalis commented on #24
Good catch, thanks!

I don't think line 30/31 is necessary cause it's already included in line 93 (there should be no way for network.address to be undefined while the network is defined).

[code]

Do you want to raise a PR for this, or shall I update it and push it?

[2019-12-10 14:29] hellwolf commented on #24
Thanks for the fast response! I didn't fork the code, maybe it is easier if you could include this in your next release.

[2019-12-10 14:30] rkalis commented on #24
Sure, will do. Thanks again!

[2019-12-10 14:34] rkalis commented on #24
This is fixed in `v0.3.6`.

[2019-12-10 14:34] #24 closed

[2019-12-18 12:42] rrodriguezreche opened #25 "Failing to verify flattened ERC777 token"
Attaching a repository to reproduce: <Made private, attaching code below>

Long story short: this a simple flattened ERC777 that fails to verify through the plugin. Even if I remove constructor args from the Solidity code, it fails.

It comes from a multifile truffle project where I have the ERC777 implementation of open-zeppelin linked. That project verifies OK, but the moment I flatten the contr

[2019-12-24 19:32] rkalis commented on #25
Hey @rrodriguezreche! Thanks for opening this issue and doing the research into it. I see that you researched the bug in `sol-merger` and were able to debug a lot of it in there, awesome work! When this gets fixed, I'll bump the dependency, and check if it fixes it.

[2020-01-06 00:43] rkalis commented on #17
I looked into this a bit more, but it looks to be an issue with [sol-merger](https://github.com/RyuuGan/sol-merger), so I went ahead and opened an [issue](https://github.com/RyuuGan/sol-merger/issues/27) on that repo. Feel free to join the conversation to add more comments over there.

[2020-01-06 00:44] rkalis commented on #14
I looked into this a bit more, but it looks to be an issue with [sol-merger](https://github.com/RyuuGan/sol-merger), so I went ahead and opened an [issue](https://github.com/RyuuGan/sol-merger/issues/27) on that repo. Feel free to join the conversation to add more comments over there.

[2020-01-06 00:44] rkalis commented on #17
I'm going to close this issue by the way and consolidate it with #14.

[2020-01-06 00:44] #17 closed

[2020-01-08 10:11] nklipa13 opened #26 "Verifying stuck"
I'm having a problem for the last two days (at least) that when I run verifying it just stuck. So it says

`Verifying Name_of_contract`

and it stays like that for at least one hour (I stopped after that). I have connection to the internet and my API key is valid (even tried changing it to the new one)

[2020-01-08 18:13] rkalis commented on #26
Thanks for the heads up. I'm seeing the same thing. Not sure what's causing this yet, so I'll look into it.

[2020-01-17 12:43] rkalis commented on #26
Hey, I wasn't able to figure out the problem last week, but after retrying today it appears to be resolved. Could you check if it is working again for you as well. If it is I think there just might have been an issue with Etherscan's API for a few days.

[2020-01-17 12:44] rkalis commented on #25
`truffle-plugin-verify@0.3.7` now uses `sol-merger@1.2.2`.

[2020-01-17 12:44] #25 closed

[2020-01-17 13:08] rkalis commented on #15
@RyuuGan added functionality to preserve comments in flattened code, which I enabled in `truffle-plugin-verify@0.3.8`.  When using this version, all comments are preserved, and no random line breaks are inserted.

[2020-01-17 13:08] #15 closed

[2020-01-23 13:56] nklipa13 commented on #26
Sorry that it took so long, but yes, it seems to be working now.

[2020-01-23 13:56] #26 closed

[2020-02-04 16:29] pyython opened #27 "Unable to verify contracts on Etherscan programatically, manually works"
I'm unable to verify my contract via the plugin, but if I copy the source directly into the verifier on Rinkeby Etherscan the verification works perfectly.

I noticed the API call is stripping the multiline comments from the "sourceCode" field in the API call, but that is the only thing I can see that's different.  The compiler version, runs, etc. are all the same. Here's the output of the debug c

[2020-02-04 17:58] rkalis commented on #27
Hey @pyython, thanks for the report. Do you have the code in an open source repo somewhere so I can try it out?

[2020-02-05 04:03] pyython commented on #27
Sure thing.  Here is the source code: https://github.com/blocklytics/promoted-pools-contracts

[2020-02-05 20:49] RyuuGan commented on #14
@rkalis, version 2 is released, should be fixed in `sol-merger`

[2020-02-14 11:00] sobolev-igor opened #28 "Verifying contracts with structs in external file"
Hi there!

I'm facing the issue with source code verification in case when structs are placed in a separate file (it is allowed since 0.6.0 version of Solidity compiler) and then imported where needed. In debug mode, I found out that imported structs are not added in the flattened source code. Thus, the code cannot be compiled on Etherscan side.

[2020-02-14 11:14] rkalis commented on #14
Thanks to @RyuuGan's great work on `sol-merger` support for circular dependencies is now live in v0.3.9.

[2020-02-14 11:14] #14 closed

[2020-02-14 11:21] rkalis commented on #28
Hey @sobolev-igor, that is interesting. @RyuuGan, is this something that could be added to `sol-merger` for Solidity v0.6.0 support?

[2020-02-14 11:23] RyuuGan commented on #28
Can you send me an example of the source code, just a small reproduction

[2020-03-03 16:54] rkalis commented on #16
Closing this as I haven't heard any more complaints on this.

[2020-03-03 16:54] #16 closed

[2020-03-17 10:27] sobolev-igor commented on #28
Hi! I'm really sorry I haven't answered for so long!

This is a test repo https://github.com/sobolev-igor/test where you can do
```npx truffle migrate --network kovan```
then
```npx truffle run verify Test --network kovan --debug```
and see that `Bug` struct is not added to the source code.

By the way, I think that currently the best way for verification is Standard-Json-Input. In this case, as I

[2020-03-25 12:05] rkalis commented on #27
Hey @pyython, sorry for dropping the ball on this for so long!

I cloned your repository, added in the correct `.env` parameters, then ran:

[code]

And I got similar results. The `truffle run verify` didn't work.

I tried copy-pasting these values into the [Etherscan verify web form](https://rinkeby.etherscan.io/verifyContract). This worked correctly.

So then I tried copy-pasting these values in

[2020-03-31 15:02] OsoianMarcel commented on #27
Subscribed. I have same problem as @rkalis

[2020-03-31 16:25] OsoianMarcel commented on #27
@rkalis Amazing plugin, thank you!
I hope the problem going to be solved soon.

[2020-03-31 20:39] mtbitcoin commented on #27
We have someone from the team looking into this.. TQ

[2020-04-01 02:15] Enigmatic331 commented on #27
Dear all - Just had this sorted and managed to verify a couple of contracts on my end.
Could you have a quick check to see if your contracts verify fine through API now?

Thanks!

[2020-04-01 05:52] OsoianMarcel commented on #27
@mtbitcoin Yes

[2020-04-01 05:56] OsoianMarcel commented on #27
The verification started to work on rinkeby too (checked today). Thanks all.

[2020-04-01 07:19] mtbitcoin commented on #27
@pyython are you still running into issues ?

[2020-04-01 11:04] rkalis commented on #27
I tested it out using @pyython's repo, and everything looks to be working again. Thanks for the fix @mtbitcoin and @Enigmatic331!

[2020-04-26 15:18] Amxx opened #30 "Failure to verify smart contracts using solidity ^0.6.0"
Query:
```truffle run verify NFWalletFactory --network rinkeby --debug```

Output:
[code]

My guess is that the flatening fails. Source code and artefacts are here: https://github.com/Amxx/NFWallet/tree/master/solidity

[2020-04-26 15:54] rkalis commented on #30
Thanks for opening this issue! I was also able to replicate these results. I also tried using `sol-merger` directly to flatten the source code, which also resulted in a file with just the initial pragma statement. I'm not sure what is causing this, can try out some things later. @RyuuGan, do you have any idea what could be happening?

[2020-05-01 02:08] gorgos commented on #8
At least proxies are supported now by Etherscan: https://medium.com/etherscan-blog/and-finally-proxy-contract-support-on-etherscan-693e3da0714b.

[2020-05-01 10:53] RyuuGan commented on #30
I found out, that in library what I'm using to parse contract and other stuff in file there is an error:

[code]

But looks like this library is not maintained:

https://github.com/federicobond/solidity-parser-antlr

I'll try to think how to remove this dependency. It means that I have to return back to old code, when I was parsing manually (maybe), or use another library for that.

[2020-05-01 10:53] RyuuGan commented on #30
To find this comments do next

[code]

[2020-05-01 11:54] rkalis commented on #30
Could [solc-js](https://github.com/ethereum/solc-js) be used for parsing? It looks like they conform to the solc input and output JSON formats, which [should include an AST object](https://solidity.readthedocs.io/en/v0.6.6/using-the-compiler.html#output-description).

[2020-05-01 11:56] RyuuGan commented on #30
Hello @rkalis,

I'll take a look on this weekend.

Best regards

[2020-05-12 12:28] alsco77 opened #31 "Include file comments in verified contracts"
### Feature Request

Include the comments on the file level for the flattened files. The flattened/verified file would ideally contain all file level comments.

Comment example
[code]

[2020-05-12 12:31] rkalis commented on #31
Hey @alsco77, are you using the latest version of truffle-plugin-verify? Comments should be included already (see #23 and RyuuGan/sol-merger#19), but it's possible that this broke again.

[2020-05-12 12:35] alsco77 commented on #31
Hi @rkalis Thanks for the prompt response. Yes using `0.3.10`.

I tried using `sol-merger` previously - they preserve the **in**File comments, but not the files comments themselves. So I suppose then the issue is with sol-merger.

[2020-05-12 12:39] rkalis commented on #31
So when you say files comments, do you mean the comments *outside* of a contract? So like this:

[code]

[2020-05-12 13:11] alsco77 commented on #31
Exactly. I just had a poke around on the `sol-merger` codebase. I suspect the changes need to be made in [this function analyzeExports()](https://github.com/RyuuGan/sol-merger/blob/a830512f9465f3edef9698c787ce52c6e6cf1243/lib/exportsAnalyzer.ts#L26), to enable the comments preceeding the 'contract'/'node' to be included somewhere.

As for how to do that, i'm not sure.

[2020-05-12 13:47] alsco77 commented on #31
Appreciate the x-post @rkalis . Unfortunately I will just perform manual verification until this is fixed. Thanks for creating such an easy to use tool though! This is a vast improvement on previous UX for verifying contracts, starred.

[2020-05-13 23:29] rkalis commented on #30
I actually just had the same issue with my own contracts. After running `sol-merger` with @RyuuGan's suggestion `DEBUG="sol-merger*"` set it appears that in my case the trouble was mainly in the v0.6.0 way of passing value (i.e. `{ value: ... }` rather than `.value(...)`). Since the old way of value is still supported in v0.6.0, I changed the occurrences to the old way. I was able to verify after

[2020-05-17 09:30] RyuuGan commented on #28
Can you test that it is working now ? `sol-merger@3.0.0`

I updated the grammar, so it should support structs and enums and also new syntax.

Best regards

[2020-05-17 09:31] RyuuGan commented on #30
Can you test that it is working now ? `sol-merger@3.0.0`

I updated the grammar, so it should support structs and enums and also new syntax.

Best regards

[2020-05-17 14:29] rkalis commented on #30
I tried running `DEBUG="sol-merger*" sol-merger NFWalletFactory.sol` again using `sol-merger@3.0.0`. It doesn't log any errors:

[code]

But the full output file is just this:

[code]

So it looks like something is still going wrong somewhere.

[2020-05-17 16:02] RyuuGan commented on #30
Yea, I found one bug that will is fixed on develop. In this commit:

https://github.com/RyuuGan/sol-merger/pull/36/commits/41552909ab90980f892f1ac1631ec677455fff48

Looks like it it is working from develop. So I'll finish the comments and publish new version.

Comments are also working, but I want to introduce the different delimiter for comments.

[2020-05-17 16:20] RyuuGan commented on #30
With command

[code]

It merged the file and the result had more then 1900 lines of code. Can you check it one more time ?

[2020-05-17 17:00] rkalis commented on #30
Now I'm getting
[code]
Could that have something to do with the Yarn workspaces setup? But it didn't complain about any of the other contracts in `node_modules/`.

[2020-05-17 17:49] RyuuGan commented on #30
@rkalis it might be, because I have this contracts when installed it with `npm`. I need a reproduction repo to debug this.

![image](https://user-images.githubusercontent.com/426268/82155769-7b934280-9877-11ea-9c04-7e85d798d08c.png)

![image](https://user-images.githubusercontent.com/426268/82155776-8948c800-9877-11ea-9897-aaf33ae9e7cc.png)

[2020-05-17 17:57] RyuuGan commented on #30
Looks like dependecy is not installed by yarn: `@iexec\solidity`, that is why this file doesn't exist.

But it exists in parent directory. That is the problem. But since `npm root` returned `sol-merger` the child directory (but not the parent one, where the dependency is installed). It can not find it. The temporary workaround would be to install dependecies in folder `solidity`.

[2020-05-17 21:47] rkalis commented on #30
Thanks for investigating further @RyuuGan. I copy-pasted the correct `node_modules` folder so it worked. The flattening appears to work and results in a 2700+ LOC flattened file. But when I try to verify it on Etherscan, I get the following error:

[code]

When investigating further, I see that the original unflattened code has a `pragma experimental ABIEncoderV2;`, but this is not included in the

[2020-05-17 22:02] RyuuGan commented on #30
Hello @rkalis,

It is hard to say what you are talking about because contract `NFWalletFactory.sol` doesn't have this expermental pragma:

`NFWalletFactory.sol`:

[code]

But `NFWallet.sol` has, and it compiles correctly with 2 pragmas:

![image](https://user-images.githubusercontent.com/426268/82161169-c2466400-989a-11ea-9af2-44d86069b5b9.png)

![image](https://user-images.githubusercontent.com/4

[2020-05-17 22:08] rkalis commented on #30
`NFWalletFactory` imports `NFWallet`, so when you're flattening `NFWalletFactory` it includes the code for `NFWallet`, but it doesn't include the experimental pragma.

[2020-05-17 22:10] RyuuGan commented on #30
Only pragma from the root contract is included.

It was like this all the time.

So if you are compiling NFWalletFactory then pragma from this contract will be included.

[2020-05-17 22:18] rkalis commented on #30
Is that the expected behaviour though? Since the `NFWallet` contract uses the experimental functionality, and `NFWallet` is included in `NFWalletFactory`, it would make sense that the flattened code would also include this pragma. The workaround is probably to just add the pragma statement to the "main" file (in this case `NFWalletFactory`), right?

[2020-05-18 06:10] RyuuGan commented on #30
Hello @rkalis

Yes workaround is just to add this statement to `NFWalletFactory`.

But I wouldn't say it is workaround, it is expected bahaviour from my side. Because otherwise `sol-merger` will magically decide which `pragma` to include and which not. So for example if one of the contract has

[code]

And the other
[code]

They are incompatible what should `sol-merger` use ? Should the error be t

[2020-05-18 06:13] rkalis commented on #30
Fair enough! I'll do that and test some more today.

[2020-05-18 12:43] Amxx commented on #30
Thanks for the time you are spending on this !

[2020-05-24 17:24] rkalis commented on #30
So for some reason the merged code I'm getting from sol-merger for `NFWalletFactory` is not getting verified on Etherscan. I've confirmed that the new sol-merger version works with other v0.6.0 contracts, so I assume there's a different issue going on here.

In any case I'll publish a new truffle-plugin-verify release with the new sol-merger that should work for most v0.6.0 contracts, and we'll ha

[2020-05-24 19:08] rkalis commented on #28
I tested this out and confirmed that the source code is merged correctly with the new sol-merger, thanks @RyuuGan!

But now I'm running into a different issue related to Etherscan. If I copy-paste the merged code into the verify web tool, it works, but if I use truffle-plugin-verify or the Etherscan API demo, it doesn't work. So it seems to me like there's a discrepancy between the online tool and

[2020-05-25 07:17] Enigmatic331 commented on #28
Hey @rkalis thanks for tagging us - Cracking on it. Indeed we have implemented support for this a couple weeks back, maybe I've missed something on the API end.

Will report back.

[2020-05-26 15:26] rkalis commented on #31
This should be fixed in `v0.3.11`. Feel free to reopen if there are any more issues :)

[2020-05-26 15:26] #31 closed

[2020-05-28 08:47] Enigmatic331 commented on #28
Hey @rkalis - Sorry it took a while this week!

I've managed to get the contract verified via our sourcedemo with a little adjustment - Bringing the ABIEncoderV2 pragma to the top so it comes before the version pragma:

[code]
Could I trouble you to give it another shot with this change to see if it works out, please? 🙏

It's one of those small undocumented quirks which I've been wanting to spend

[2020-05-28 10:06] rkalis commented on #28
Hey @Enigmatic331, thanks for the reply. I've confirmed that it works with the ABIEncoderV2 pragma on top. I'll add a note to the README about this for now and consider this issue fixed. Thanks for the great work @RyuuGan and @Enigmatic331!

[2020-05-28 10:06] #28 closed

[2020-06-02 19:59] Amxx commented on #30
So, I've retried verifying a "small" contract:
- It gets rejected
- using --debug I can see the constructor arguments are empty. This might be caused by the way I did deploy it. Should they be in the .json artefact ?
- I've used the flattened code (from the --debug) AND the constructor arguments to etherscan, etherscan refuses to verify the code, when I'm comparing the produced vs expected bytecod

[2020-06-03 06:14] Julio77 commented on #22
Hi @rkalis  ,
I am trying to verify the contracts deployed by truffle, but I get the following:

`x:>truffle run verify Contrato1 Contrato2 --network rinkeby
Truffle v4.1.11 - a development framework for Ethereum

Usage: truffle <command> [options]

Commands:
  init      Initialize new and empty Ethereum project
  compile   Compile contract source files
  migrate   Run migrations to deploy contrac

[2020-06-03 15:42] rkalis commented on #30
So the way truffle-plugin-verify retrieves the constructor arguments is through the Etherscan API. Now it can *only* retrieve them that way if the contract is deployed directly (i.e. not from a factory contract) - see #8. So if you're deploying the contract through a factory and it has constructor arguments, then it currently cannot be verified through truffle-plugin-verify. Is your contract deplo

[2020-06-03 15:46] rkalis commented on #22
Hi @Julio77. Truffle plugins were introduced in Truffle v5.0, so you should update your Truffle installation to use truffle-plugin-verify!

[2020-06-03 15:56] Enigmatic331 commented on #30
Hey thanks for the tag @rkalis, looking into it.

@Amxx - Think my friend Kaven have reached out to you on Twitter - If you'd like, you could also pass along a copy of the simple contract to me here I can jump right into it as well? In the meantime am also taking a look at the `NFWalletFactory` contracts you have at the top.

[2020-06-05 04:36] interfect commented on #27
I think that this issue may have recurred. I too am having trouble verifying contracts on Rinkeby with this plugin through the API, but they seem to verify fine through the web site.

Here's a contract that wouldn't verify programmatically but verified manually when I copy-pasted the source code:

https://rinkeby.etherscan.io/address/0x7a5b1a0ce60c0bb7ea228c265cd526bbf5bbdb32

Here's the source co

[2020-06-05 06:52] Enigmatic331 commented on #27
Hey @interfect,

I don't think so though - Was able to verify the same contract through our API demo:

![image](https://user-images.githubusercontent.com/28551011/83845428-6c4b3a80-a73b-11ea-8b47-d184a0f0c99f.png)

https://rinkeby.etherscan.io/address/0x56d5febb6644e228a52f5052f3770f9a7dbe7e04#code

Though earlier this morning I recalled there was a quick server restart on the testnet servers, so

[2020-06-05 06:56] Enigmatic331 commented on #27
Oh! Could it be the compiler version? Being v0.5.14+commit.01f1aaa4? I think the actual version is v0.5.14+commit.1f1aaa4 - Let me have a quick look.

[2020-06-05 07:09] Enigmatic331 commented on #27
So yea, does appear to be the case: If I use v0.5.14+commit.01f1aaa4 as the version it fails, whereas v0.5.14+commit.1f1aaa4 passes.

@rkalis - I reckon you'd just take the compiler settings from Truffle yeap? Mmm. I reckon this bit of inconsistency came upstream somewhere.

A bit of trivia to think about: Is v0.5.14 the only release with a seven character commit hash at the back? Another version

[2020-06-05 18:30] rkalis commented on #27
Hey @Enigmatic331, that is some good detective work :muscle:! You're right that I get the compiler version from the Truffle artifact files. So yeah it looks that there is a mismatch there.

It looks like the mismatch here might actually be on the Remix/Etherscan side, because when I install solc v0.5.14 either through npm or Homebrew and output the version, it gives me `0.5.14+commit.01f1aaa4`. Ha

[2020-06-06 05:19] Enigmatic331 commented on #27
Where we pull it from would be the solc-bin list: https://github.com/ethereum/solc-bin/blob/gh-pages/bin/list.txt, also where we pull our soljson from. Hmmm so the files names themselves seem to discard leading zeros (per commit https://github.com/ethereum/solc-bin/commit/578626cd3552ead144cf1245b24454ea7a12a6be)...

[2020-06-06 06:55] rkalis commented on #27
That is interesting. Odd that it doesn't do so for the 0.6.8 version 🤔

Hi @chriseth, so we're running into this issue that the solidity versions in the solc-bin list remove leading zeroes from the commit hash (except for 0.6.8). But when reporting the version from within solc (`solc --version`), it still includes the leading zeroes. Some context is included in the few comments above.

I was hopin

[2020-06-07 20:34] doublepupilla opened #32 "Ipfs connect fail when verify contracts"
Query:
 `truffle plugin run verify contract-name --network ropsten [--debug]`

Output:
[code]
In order to identify whether my local network problem，i test the ip by `http://port.ping.pe`,  unfortunately all of them connect fail
[code]

[2020-06-08 12:08] chriseth commented on #27
I'm sorry for this inconvenience! The semver standard disallows leading zeros in numeric components, both in the version itself and in the "prerelease" part following the `-`. It allows leading zeros in numeric components after the `+`, though. We were not aware of this exception and thus removed all leading zeros in the past. I think we did not want to change historic file names and versions and

[2020-06-08 12:21] ekpyron commented on #27
Yes, we did change our release scripts by now, so that they will no longer remove leading zeroes in the commit hash in the future, but we did nothing about the historic releases (I think we said people hopefully use ``list.txt`` anyways and didn't want to break anything with the full historic URL hardcoded in it).

Seeing this here, I suggest to do the following: we change lists.txt and the "prope

[2020-06-08 15:39] doublepupilla commented on #32
Thanks your reply.
my original project workspace runs `truffle plugin run verify` instead of `truffle run verify` because of the root node_modules of the workspace problem.  the result is the mentioned above. It seems that the two commands are different, the verify.js didn't execute actually.

I reopen a separate truffle project to test by `truffle run verify` command, it works but the timeout iss

[2020-06-09 03:51] Julio77 commented on #22
Hi @rkalis
Thanks, nice, i will try again with this code.

[2020-06-09 13:56] rkalis commented on #32
That is very odd indeed. Perhaps there is something in your computer's settings that is prohibiting you to connect to the internet from the terminal? Are you able to connect to other websites through the terminal (e.g. `curl https://www.google.com`)?

[2020-06-09 13:58] rkalis commented on #32
Or a different possibility, there might be something wrong in the DNS resolution in the terminal, since I don't recognise `75.126.215.88` as the correct IP for Etherscan. If I do `dig api-ropsten.etherscan.io`, I get the following IP addresses:

[code]

[2020-06-09 16:09] doublepupilla commented on #32
yes, it's network blocking. the problem has been fixed. thanks for your help

[2020-06-09 16:15] rkalis commented on #32
Good to hear!

[2020-06-09 16:15] #32 closed

[2020-06-12 04:10] interfect commented on #27
I've upgraded to 0.6.10 (which also starts with leading zeroes in its commit hash, but seems to be synchronized in both places) and tried again.

Now it seems that I can verify some (simple?) contracts but not others. Here's a successful one (my project's migrations contract):

[code]

And here's a failed one:

[code]

[2020-06-12 05:00] Enigmatic331 commented on #27
PS: There were two SPDX License Identifier on the second contract - Removed the bottom one and it seems to verify fine now: https://rinkeby.etherscan.io/address/0x91084757ebfD1110d00A5691dab687e20069178d#contracts

[2020-06-12 14:27] rkalis commented on #27
Ah that is interesting @Enigmatic331.

@RyuuGan I remember that you filter out duplicate `pragma` statements. I guess that duplicate SPDX license identifiers should also be filtered out. Is that possible to do on the `sol-merger` side?

[2020-06-12 14:32] ekpyron commented on #27
For the record about the missing leading zeroes in commit hashes in https://github.com/ethereum/solc-bin/ - we added the missing leading zeroes everywhere now, and changed e.g. lists.txt accordingly - but we still provide symlinks to the historic names without the leading zeroes.

[2020-06-12 14:41] rkalis commented on #27
Awesome, thanks for the help on this @ekpyron @chriseth!

[2020-06-12 15:21] RyuuGan commented on #27
Hello @rkalis,

I'm also writing the plugin that will also be removing this type of comments:

https://github.com/RyuuGan/sol-merger/blob/va/exportPlugins/lib/plugins/SPDXLicenseRemovePlugin.ts

Also this feature will allow you to write your own plugins if you need them to postprocess any export.

[2020-06-12 17:19] interfect commented on #27
How is filtering out the duplicate license comments going to interact with actual licensing? If you have includes with different licensing than each other, or different licensing then the main contract, the combined source file isn't going to be accurately described by any of the SPDX comments, and if Etherscan tries to use them to determine an official license for the concatenated source, it's go

[2020-06-13 14:00] rkalis commented on #27
That sounds awesome! Great job @RyuuGan.

@interfect I don't think Etherscan uses the SPDX comments for their official license stuff, but maybe @Enigmatic331 can shed light on that. In any case I can imagine that it could make sense to *only* leave the first-seen SPDX license comment, and then it's up to the contract dev to make sure that their inherited contracts/libraries are compatible.

[2020-06-15 12:04] chriseth commented on #27
Would it be very difficult to just use multi-file source verification or even better - metadata-based verification?

[2020-06-26 02:27] interfect commented on #27
Sed-ing out all the SPDX license identifiers from my code before verifying doesn't really seem to help. I use OpenZeppelin contracts, and they all have their own license identifiers, and when I include anything that ends up with more than two files from OZ in it, I run into this issue.

I guess I could try tampering with the OZ contract sources from node_modules. Or the built JSONs.

[2020-06-26 02:48] interfect commented on #27
@Enigmatic331 OK, I've tried removing all the SPDX license identifiers from my and the OZ sources before trying to verify, and it still doesn't quite work. Here's another example contract that doesn't verify through the API and does verify when I submit it manually through the website. There's no "SPDX" in it anymore; it has me pick a license on the form.

Does there need to be *exactly one* SPDX

[2020-06-26 03:13] interfect commented on #27
Here's a real short one that's still unverified, for testing. It didn't work for me with or without the preamble comment at the top.

[code]

[2020-06-26 03:16] Enigmatic331 commented on #27
Hey @interfect thanks for this - I am looking into it. Will ping back shortly.

[2020-06-26 09:06] Enigmatic331 commented on #27
@interfect - All your feedback is very much appreciated!

So currently it seems that there's some issues when we run a compile on soljson v0.6.10. also affecting Remix. Dropping the version to 0.6.9 should resolve it but of course, not what we want. :)

Will crack on this a bit more from our side and report back.

![image](https://user-images.githubusercontent.com/28551011/85840258-c8e7c580-b7ce-1

[2020-06-27 18:07] interfect commented on #27
Thanks! I ought to be able to use 0.6.9 as a workaround for now.

June 26, 2020 2:06 AM, "Enigmatic331" <notifications@github.com (mailto:notifications@github.com?to=%22Enigmatic331%22%20<notifications@github.com>)> wrote:
	@interfect (https://github.com/interfect) - All your feedback is very much appreciated!

	So currently it seems that there's some issues when we run a compile on soljson v0.6.1

[2020-06-28 08:31] Enigmatic331 commented on #27
@interfect - Thanks to @chriseth (:heart:), we are sorted for v0.6.10 - Had a quick run with your example contract via our API just now:

https://rinkeby.etherscan.io/address/0x68be475b1993c4bb400e8cf5d640b64ec89f2f8d#code

Feel free to ping if you might be facing any other issues. As for the SPDX license, on a flattened contract yes we will only be able to get solc to compile with a single SPDX i

[2020-07-10 05:07] interfect commented on #27
OK @Enigmatic331, it definitely seems to be all working right for me now (if I sed out the SPDXes and add a new one in the verifier plugin preamble, at least, which is the only way I've tested). Thanks for all your and @chriseth's hard work!

[2020-07-15 15:45] mrwillis opened #33 "Verifying with ABIEncoderV2 troubles"
Hi there,

Trying to verify some contracts using ABIEncoderV2 and I seem to be running into trouble. Here is a simple repo demonstrating the issue.

https://github.com/mrwillis/abiencoder-truffle-verification

I read in the README the `pragma experimental ABIEncoderV2` has to come before the solidity pragma, but I've tried both orders and neither seems to work. Have also tried using a higher solid

[2020-08-03 08:28] Enigmatic331 commented on #33
Hey @mrwillis - Reckon you should be sorted by now, but just in case:

```Due to some limitations in the Etherscan verification engine, if you want to use pragma experimental ABIEncoderV2;, this statement should be the first line in your contract file (even above the pragma solidity ^0.6.0; statement).```

And yea I've been meaning to look into this on Etherscan's side since forever, need to get a

[2020-08-03 14:21] rkalis commented on #33
Hey @mrwillis, I must have completely missed the notification for this issue, apologies!

One thing I noticed is that the flattened code contains two SPDX license identifiers, which is currently not working (see comments in #27). After removing it, the code still doesn't seem to be verifying correctly. After updating the Solidity version to v0.6.11 like you mentioned before and moving the experime

[2020-08-13 15:13] rkalis commented on #33
Hey @Enigmatic331 I have been working on allowing the user to provide their license manually (`--license MIT`). And using @mrwillis' example repo I ran into the issue that the source code is failing the verification through truffle-plugin-verify **and** through the [https://rinkeby.etherscan.io/sourcecode-demo.html](API demo page), but succeeding the verification on the web form.

This is the data

[2020-08-27 09:28] rkalis commented on #33
Hey @Enigmatic331, did you have time to look into this API issue yet?

[2020-08-27 11:15] Enigmatic331 commented on #33
Hey @rkalis super sorry that I missed this - Let me have a look and ping back shortly.

[2020-08-27 13:54] mcplums opened #34 ""Invalid constructor arguments" error, running immediately after deployment"
Hello, I'm running:

`truffle migrate --network mainnet --reset`

And then I'm immediately running

`truffle run verify ContractName@address --network mainnet`

and I get "Invalid constructor arguments provided. Please verify that they are in ABI-encoded format".

How can they be invalid when I've only just deployed it?

Btw. I love this plugin so much :) it has worked many times in the past

[2020-08-28 07:40] Enigmatic331 commented on #33
@rkalis - We've pushed a fix over to the API servers - Could you take a look if this sorts it out please?
(e.g. https://rinkeby.etherscan.io/address/0xF177FF5d7D91381cDDcF79cC73DbFfDa8D471383#code)

Much appreciated as always!

[2020-08-28 09:43] rkalis commented on #34
Hey @mcplums! That does sound weird. Could you run the command again with the `--debug` flag and post the details? Also, did you deploy your contract through a factory contract?

[2020-08-30 12:59] rkalis commented on #33
Thanks @Enigmatic331 it's working now! @mrwillis I just published a new release that allows you to specify an SPDX license identifier using the `--license` parameter.

[2020-08-30 12:59] #33 closed

[2020-08-30 13:01] rkalis commented on #27
@interfect I just released a new update that allows you to provide an SPDX license identifier using the `--license` parameter. e.g. `truffle run verify MetaCoin --network rinkeby --license MIT`. That should remove the need to manually `sed` the identifiers.

[2020-08-30 13:01] #27 closed

[2020-08-30 13:03] rkalis commented on #30
It sounds like the remaining issue here is the constructor arguments. That issue is captured in #8, so I'll close this issue. If there is something else, feel free to reopen it @Amxx!

[2020-08-30 13:03] #30 closed

[2020-08-31 09:49] mcplums commented on #34
I have tried to re-create this error and this time using the --debug flag, this time I'm getting 503 error which I assume is a problem at etherscan's end so I will try again later and report back. If I take too long to do so feel free to close 👍

I can confirm it was not a factory. I'm aware that etherscan cannot handle those just yet.

[2020-09-19 22:52] ffarhanaamin opened #35 "Contract created through another contract"
I am trying to verify a contract which is created through an internal transaction. hence, this call fails

https://api-ropsten.etherscan.io/api?apiKey={apiKey}&module=account&action=txlist&address={dynamicallyCreatedContract}&page=1&sort=asc&offset=1

hence it can't see the trasnaction and it fails

[2020-09-20 13:19] rkalis commented on #35
Hey @ffarhanaamin, thanks for opening this issue. This is already covered in issue #8, so I'll close this isse.

To respond to the issue: there's not a very easy solution yet. I'm considering to add a flag to the CLI to manually provide constructor parameters so it doesn't need to retrieve them from Etherscan. An alternative solution is to potentially use the Truffle Debugger to see if we can trac

[2020-09-20 13:19] #35 closed

[2020-09-21 09:24] kazamio opened #36 "Questions about ABIEncoderV2 for multiple contracts"
Hi @rkalis

I'm struggling with Etherscan verification issues on ABIEncoderV2.

I got multiple contracts like this https://github.com/Computable-Finance/CoFiX/blob/master/contracts/CoFiXFactory.sol

[code]

And `CoFiXPair.sol` is the only contract which adopts `ABIEncoderV2`.

[code]

I noticed the limitation on README:

I also found the flattened source file would only keep one `pragma experiment

[2020-09-21 11:42] rkalis commented on #36
Hey @kazamio!

In general, yes, if you want to deploy and verify a contract that imports another solidity file that uses ABIEncoderV2, you need to add the pragma to the top of the file with the contract you want to verify as well.

If you have other contracts that don't import any ABIEncoderV2 solidity files, you don't have to add the statement to the top of those files. Also, you don't need to ad

[2020-09-21 13:26] kazamio commented on #36
Thanks a lot @rkalis !

Yes, indeed. Just add the ABIEncoderV2 statement before the `Factory.sol` as https://github.com/Computable-Finance/CoFiX/commit/2b475f8adf803eb01c6189995c7d5f4cc9c204d4 and re-deployed. The etherscan verification works now.

[2020-09-21 13:26] #36 closed

[2020-09-22 14:00] ffarhanaamin commented on #8
are there any plans to fix this ? as suggested on another thread can we add a CLI argument with ctor params? that would help

[2020-09-22 14:06] rkalis commented on #8
I'll x-post the reply from #35 here as well:

Probably the easiest thing would be add a CLI flag `--args` that takes in (preferably the unencoded) args, which then get ABI encoded and are used by the plugin instead of trying to retrieve it from Etherscan. I'm open to any PRs that add this functionality.

[2020-09-24 01:55] abcoathup opened #37 "Support multi file verification on Etherscan"
## Feature Request

Support multi file verification on Etherscan using Truffle.
This is instead of flattening contracts.

Flattened contracts:
* Can only contain one SPDX License Identifier (introduced in Solidity 0.6.8) per file.  Risking license identifiers being removed, especially from third party libraries.
* Remove import statements, making it harder to identify how contracts have been impor

[2020-09-24 12:37] rkalis commented on #37
Hey @abcoathup! Thanks for moving this issue here. I started work on it yesterday and it's a priority to get done. Will post updates on this issue.

[2020-09-28 04:32] abcoathup commented on #37
Hi @rkalis,

That sounds great.  I am suggesting the community use multi-file verification, so will be great to have this as a truffle plugin.

One potential issue to be aware of is that if other (unrelated) contracts are included as part of the verification compilation, then Etherscan will also display these: https://github.com/nomiclabs/buidler/issues/804

[2020-09-28 06:39] rkalis commented on #37
That's a good caveat to be aware of, thanks for the heads up!

To double check, @gnidan, when using the metadata in the Truffle artifacts, that should only contain the relevant files for the contract represented by the artifact, right?

[2020-09-28 16:19] gnidan commented on #37
Unfortunately, the metadata will contain everything that was compiled at the same time; solc doesn't do any pruning.

[2020-09-29 14:34] rkalis commented on #37
Hmm I see. Looking at the links buidler issue, it appears that solidity versions <0.7.0 also can't correctly be verified if it doesn't use the same files in Etherscan as it does in the local compilation.

Might still be worthwhile for the plugin to check if the Solidity version >=0.7.0 if it can do some analysis of which files actually need to be included.

[2020-10-01 00:13] gnidan commented on #37
Does Etherscan not support metadata-based compilation pre-0.7.0?

[2020-10-01 00:14] rkalis commented on #37
Looking at the linked buidler issue it does as long as it includes **all** the same files as in the local compilation (as I understand it that includes any superfluous files).

[2020-10-01 00:18] gnidan commented on #37
Seems like there are trade-offs, then. Are these superfluous sources a big problem?

[2020-10-01 00:20] rkalis commented on #37
Sounds like the main issue with it is that it clutters the Etherscan interface. But I'd say even with superfuous files it is easier to browse than the flattened code.

[2020-10-01 22:24] rkalis commented on #37
I have most code for this ready in the [v0.5.0](https://github.com/rkalis/truffle-plugin-verify/tree/v0.5.0) branch. I've tested it with some different parameters (e.g. optimisation settings, evm version, libraries). @abcoathup or any of the other interested parties: do you have any interesting test cases that I should try out before pushing the new version live?

[2020-10-01 22:28] rkalis commented on #18
It's been a year without any activity, so I'm closing this issue. Feel free to re-open with more information.

[2020-10-01 22:29] #18 closed

[2020-10-01 22:29] rkalis commented on #34
Any news on this?

[2020-10-05 01:42] abcoathup commented on #37
It would be worth letting users know if they don't want superfluous files how to do this.  I have been manually removing contracts not required for verification and the build directory prior to verification.

---

@rkalis I have mostly tried verifying simple ERC20 tokens extending from OpenZeppelin Contracts. (OpenZeppelin Contracts v3).

[code]

[2020-10-05 13:56] rkalis commented on #37
That's a very good point.

---

@gnidan earlier you said:

When I look at the `MetaCoin` artifacts for this [extended MetaCoin example](https://github.com/rkalis/truffle-plugin-verify/tree/v0.5.0/test/metacoin), it only includes `MetaCoin` and `ConvertLib`, excluding the irrelevant `WrappedMetaCoin` (and `Migrations`). I'm assuming this is because `truffle compile` compiles each contract one by on

[2020-10-05 15:50] rkalis commented on #37
@abcoathup I tested it out on your example, which showed that it didn't work yet with node_modules. After fixing that, it appears to verify ([SimpleToken](https://rinkeby.etherscan.io/address/0x1396968B46b551527150766392498a2856EEa9A3#contracts)).

One thing that I did notice is that the order of the files is a bit different than what you'd expect. This is caused by the order in which they appear

[2020-10-08 09:22] uluhonolulu opened #38 "Found duplicate SPDX-License-Identifiers in the Solidity code"
Hi, I'm trying to verify my Solidity file, but it throws an error despite using the new `--license`` parameter:
[code]

I have removed the SPDX comment from the Files.sol file, but it uses an OZ file (which might use others), and that's where it could get it.

My truffle-plugin-verify version is `0.4.0`.

[2020-10-08 12:41] rkalis commented on #38
The flag should be `--license` instead of `--licence`. I'd also recommend putting all flags to the right side of `Files`, i.e.:
[code]

Let me know if that works.

[2020-10-08 17:12] uluhonolulu commented on #38
Oops, I'm so ashamed!

Worked perfectly, thanks!

[2020-10-08 17:12] #38 closed

[2020-10-09 20:39] rkalis commented on #37
I tried to do this today, but I ran into some issues in the step "compute the artifact path for this source path", since it's pretty difficult to find out the artifact file(s) corresponding to a Solidity file, since a file can include one or more contracts with different names. I think for now I'll publish the multi file verification with the alphabetical file order soon (rather than the "intuitiv

[2020-10-12 20:01] gnidan commented on #37
Truffle doesn't compile contracts one-by-one; instead, it looks for what files have changed and then compiles all files necessary for those changed files (so if `A` imports `B`, and `B` changes, then both `A` and `B` will compile)

More often than not, we'll want to assume that users will compile all their contracts at once, as if they ran `truffle compile --all`

[2020-10-12 20:21] rkalis commented on #37
@gnidan then why is e.g. the Migrations never included in the metadata field of other artifacts. From what I understood earlier is that the metadata field includes *all* source files that were compiled at the same time, even if they don't import each other. But what I'm seeing is that only the source file of the artifact and all files it (recursively) imports are included.

I mean the behaviour I'

[2020-10-12 20:35] gnidan commented on #37
Oh that's interesting @rkalis. I would expect Migrations to be present.

I'll play with this later and see if I can figure out what we can expect here for real.

[2020-10-12 20:36] gnidan commented on #37
You might just skip the manual traversal here and use @truffle/compile-solidity/profiler - since that module houses logic for determining imports. Not sure if it will help determine source order or not, but it might?

[2020-10-13 08:51] BruceChar opened #39 "Etherscan request times out when requesting constructor args"
I followed the instructions but failed.
[code]

It seems the network problem. But It migrated successfully. when I try to connect to the verify url, it returns right:
[code]
VSCode IDE
truffle version: v5.1.48
OS: windows 10

Thanks!

[2020-10-13 11:28] rkalis commented on #39
Hmm that is interesting. When I copy the link in your debug logs (https://api-ropsten.etherscan.io/api?apiKey=my_api_key&module=account&action=txlist&address=0x4C9D6ed005bfB301726cA23adE690890B853fB60&page=1&sort=asc&offset=1) and replace "my_api_key" with my own API key, the request works.

Are you sure you set up your Etherscan API key in your `truffle-config.js` correctly?

[code]

[2020-10-13 11:30] rkalis commented on #39
I should probably update the plugin to display the Etherscan response message to the debug logs so that it shows *why* the request failed 😅

[2020-10-14 02:57] BruceChar commented on #39
@rkalis Yes！I have set up my Etherscan API key in truffle-config.js.
[code]
and in file .env
[code]

[2020-10-14 11:32] rkalis commented on #39
Can you try going to this link (https://api-ropsten.etherscan.io/api?apiKey=my_api_key&module=account&action=txlist&address=0x4C9D6ed005bfB301726cA23adE690890B853fB60&page=1&sort=asc&offset=1), with your api key filled in?

Browser or curl should work.

[2020-10-16 07:02] white-black-hong opened #40 "Failed to connect to Etherscan API at url https://api-ropsten.etherscan.io/api"
Help me, follow the documentation, but always fail
![image](https://user-images.githubusercontent.com/68105775/96223044-e203c480-0fbf-11eb-9f30-42f2c98c83a5.png)
https://api-ropsten.etherscan.io/api?apiKey=my-api-key&module=account&action=txlist&address=address&page=1&sort=asc&offset=1
switch to my own API-KEYS, and I have the data

[2020-10-16 15:08] rkalis commented on #40
Do you have a repository that I can look at to reproduce this issue?

[2020-10-16 15:09] rkalis commented on #39
Alternatively, do you have a repository that I can look at to reproduce this issue?

[2020-10-20 06:06] white-black-hong commented on #40
![image](https://user-images.githubusercontent.com/68105775/96546498-f22be480-12dc-11eb-961d-1e27570bc605.png)
curl https://api-ropsten.etherscan.io/api, failure.
 Is this my network reason? But I have opened the VPN and succeeded in the browser
![image](https://user-images.githubusercontent.com/68105775/96544861-eee32980-12d9-11eb-8877-ca2c3888753b.png)
I have read other questions. May I ask that

[2020-10-20 08:17] rkalis commented on #40
Hmm strange that curl times out, but the browser works for you. On my end both curl and browser connections to api-ropsten.etherscan.io/api work. @Enigmatic331 any idea what might be happening here (see also #39)?

[2020-10-20 08:17] rkalis commented on #40
Factory deployed contracts are not supported yet, Solidity v0.6.0 (and all other versions) are supported.

[2020-10-23 00:31] dmolina79 commented on #34
Getting the same error. When i add `--debug`

[code]

The payload to etherscan API is missing the '0x' from the beginning

[2020-10-23 08:23] rkalis commented on #34
Hey @dmolina79, thanks for chipping in!

That should be fine, Etherscan doesn't expect the `0x` prefix. So I assume there's something else going on. Do you have a repository I can look at to try to reproduce this?

[2020-10-24 03:16] leochan007 opened #41 "why artifact.networks is empty?"
got this :
Verifying UniswapV2Factory
Reading artifact file at D:\codes\uniswap-v2-core\build\contracts/UniswapV2Factory.json
artifact.networks: {}                            ----------->new log added.
No instance of contract UniswapV2Factory found for network id 4
Failed to verify 1 contract(s): UniswapV2Factory

[2020-10-24 03:32] leochan007 commented on #41
artifact json file related to the compile infomation only. why does it contain network info?

[2020-10-26 15:31] rkalis commented on #41
Hey @leochan007, I missed this issue earlier. So for the `networks` to get populated in the artifact, you need to deploy the contract using the `truffle migrate` functionality. Did you do that yet?

[2020-10-26 16:31] rkalis commented on #37
I just published the new release without the "intuitive" file order. I will close this issue, and create a new one to try to achieve a better ordering.

[2020-10-26 16:31] #37 closed

[2020-10-26 19:36] rkalis opened #42 "Multi-file verification file order"
When verifying with multi-file verification, the plugin orders the files alphabetically by file path. A more intuitive orde would be by their appearance in the source code. This was discussed while implementing multi-file verification (see #37).

I proposed an algorithm like this:
[code]

But that turned out to be more difficult because of this:

So we'll have to figure out the best way to get the

[2020-10-26 19:50] fhivemind opened #43 "Fail - Unable to verify"
I'm having the old-and-familiar issue with verification.
The contract was compiled and deployed.

The deployed contract can be found at [0x35c850e8c31fab411dde65f94142f25029229a75](https://etherscan.io/address/0x35c850e8c31fab411dde65f94142f25029229a75)

# CBToken.sol
[code]

# package.json
[code]

# deploy.js
[code]

# truffle-config.js
[code]

[2020-10-26 20:44] rkalis commented on #43
What version of the plugin are you using? And could you try running with the `--debug` flag and share the logs?

[2020-10-26 22:01] fhivemind commented on #43
I'm using `truffle-plugin-verify v0.4.0`, the logs are below:
[code]

[2020-10-26 22:02] fhivemind commented on #43
The version is `v0.4.0`, and the logs are obtained as:

[code]

[2020-10-26 22:03] fhivemind commented on #43
The version is `v0.4.0`, and the logs are obtained as:

[code]

[2020-10-27 00:45] dmolina79 commented on #34
Sure, i've created this repo as an example

https://github.com/dmolina79/yearn-truffle-verify

Trying to verify this contract in rinkeby using this command:

`truffle run verify StrategyCreamCRV@0xF477479a6bf71F41b8935EFDd347D1794F18e6C1 --network infuraRinkeby --license GPL-3.0`

[2020-10-27 08:57] rkalis commented on #43
That is odd. Looks like it was deployed almost two years ago though, so perhaps some of the used settings were different than in the current code. Perhaps different optimization settings?

As an experiment, could you also try to verify using the recently released v0.5.0? That uses multi-file verification, which has a bit fewer edge-cases.

[2020-10-27 09:21] rkalis commented on #34
So it looks like it somehow retrieved incorrect constructor arguments. When I ran it on my end it retrieved this as the constructor arguments: `0x000000000000000000000000f2e47c29fc9f31cc50a62dea24956545772921bc`, which are completely different from the ones you got.

When running with the installed version v0.4.0, I did get an error because the flattened source code included multiple SPDX license

[2020-10-27 10:33] fhivemind commented on #43
The deployment does not contain metadata field (as it was compiled with truffle), hence I'm unable to use `v0.5.0`.

# deployment
[code]

[2020-10-27 10:41] rkalis commented on #43
I see. It looks like metadata was added to Truffle artifacts in late March 2019 (just after the lastUpdated date of your artifact) (See https://github.com/trufflesuite/truffle/pull/1856).

What you could try to do is recompile the contracts using the latest version of Truffle (but the same version of solc) so that the artifact contains the "metadata" field. Note that this will overwrite the old ar

[2020-10-27 10:57] fhivemind commented on #43
Tried, got the same output:
[code]

[2020-10-27 11:02] rkalis commented on #43
Hmm alright. It was worth a try. I think that it will be difficult to debug exactly where it fails in the verification, given that the contract was deployed so long ago. If you have a repository somewhere I can try some more things later, but like I said it might be difficult to really figure out what is causing the failure.

[2020-10-27 11:04] fhivemind commented on #43
I'm noticing now that the constructor argument was not picked up by the `v0.5.0`. I'll try to override the argument call and post the result.

[2020-10-27 11:28] fhivemind commented on #43
I created a sandboxed environment, if you have some time to check it, it'd be much appreciated.

[2020-10-27 12:19] Grandthrax commented on #34
Hi, I am getting the same issue @dmolina79. When running verify it gets my contructor parameters received as: 0x00000000005d3a536e4d6dbd6114cc1ead35777bab948e3643a26469706673582212203f6b1b16b84a192fc410f2b7252382703c506f806748d5f6b2299317b56927cc64736f6c634300060c00330000000000000000000000009b142c2cdab89941e9dcd0b6c1cf6dea378a8d7c

when they should be:
0x0000000000000000000000009B142C2CDAb89941E9d

[2020-10-27 12:21] rkalis commented on #34
That is so odd that it works on my end. Could you guys share your Truffle versions as well?

[2020-10-27 12:24] Grandthrax commented on #34
Truffle v5.1.50 (core: 5.1.50)
Solidity - 0.6.12 (solc-js)
Node v12.18.2
Web3.js v1.2.9

[2020-10-27 15:03] dmolina79 commented on #34
thanks a lot @rkalis updating the plugin to 0.5.0 did the trick, so it was not the abi constructor issue it was the mix licenses, but that worked in any case.

[2020-10-27 16:55] Grandthrax commented on #34
I cloned @dmolina79 repo and added my contract, but still getting the same constructor error when trying to verify.

Here is the repo: https://github.com/Grandthrax/yearn-truffle-verify

And I am running command:
truffle run verify YearnDaiCompStratV2@0x5b62F24581Ea4bc6d6C5C101DD2Ae7233E422884 --network infuraMainnet --license MIT

[2020-10-27 16:57] Grandthrax commented on #34
I am using truffle-plugin-verify@0.5.0.

Error is: Invalid constructor arguments provided. Please verify that they are in ABI-encoded format

Constructor parameters retrieved: 0xcf6dea378a8d7c

so I am now getting different constructor parameters, but still the wrong ones...

[2020-10-27 19:09] rkalis commented on #34
Strange. Do you have a link to your forked repo with your contract added?

[2020-10-27 19:11] Grandthrax commented on #34
yes here: https://github.com/Grandthrax/yearn-truffle-verify
YearnDaiCompStratV2.sol in contracts/strategies

[2020-10-28 00:23] Grandthrax commented on #34
So looking into it a bit more it seems that Invalid constructor arguments provided error just happens when the transaction data is a different length to the artifact.bytecode.length. So probably something I am doing wrong rather than an error on your end

[2020-10-28 11:52] rkalis commented on #34
So the way the plugin works is it gets the contract creation transaction. The input data of that transaction is the contract bytecode + the constructor args. By splitting the input data on the bytecode length, what should be left over is the constructor args. But if the bytecode doesn't match, then it's possible that the split is wrong.

So are you absolutely sure that the compile settings that yo

[2020-10-29 03:27] Grandthrax commented on #34
I compiled and deployed using brownie rather than truffle. So have redeployed (0xd1da63f8ab9b8ce335f0f0e40f0e2a05c20c93bf) using truffle from the repo i linked to above. Now constructor parameters look right but verify is still failing.

One thing I did have to do was edit the json build file for truffle-plugin-verify to work. I was getting "Cannot find module '/D/Source/....l'" so changed all /D/

[2020-10-29 08:12] rkalis commented on #34
Which fields did you have to change the paths for in the JSON file?

[2020-10-29 08:20] rkalis commented on #34
Also could you push the migration code that you used to the library?

[2020-10-29 14:46] 0x3bfc opened #44 "Cannot find module 'openzeppelin-solidity/contracts/GSN/Context.sol'"
I am trying to verify the [oceanprotocol/contracts](https://github.com/oceanprotocol/contracts). Unfortunately it returns `Cannot find module 'openzeppelin-solidity/` and it is not clear to me where is the issue!. So I am listing below the required steps to reproduce the same error:

- Downloading the repo:
[code]
- Installing the plugin:
[code]
- Updating the `truffle-config.js`
[code]

- Finally

[2020-10-29 14:49] 0x3bfc commented on #44
The same thing happened for a different contracts but for another file:
[code]

[2020-10-29 15:03] 0x3bfc commented on #44
It is fixed when I installed `openzeppelin-solidity` globally

[2020-10-29 15:03] #44 closed

[2020-10-29 15:15] rkalis commented on #44
Odd that you had to install it globally though. I just tested it out on your repo with freshly migrated contracts and it worked for me with the locally installed node_modules. 🤔

[2020-11-01 21:13] fhivemind commented on #43
As this is not a relevant bug for the library, there is no reason to keep it open. Thanks @rkalis for the advices, cheers!

[2020-11-01 21:13] #43 closed

[2020-11-03 19:46] 0xM4st3R opened #45 "Etherscan has no support for network rinkeby with id undefined"
Hey there I just add my Etherscan API -ID but its looks like it can find id and set it as undefined.

[2020-11-03 21:41] 0xM4st3R commented on #45
I made it done my type of mistake. Successfully verified 1 contract(s).  Not an Issue I will close it.

[2020-11-03 21:41] #45 closed

[2020-11-04 12:19] elenadimitrova opened #46 "Fails to verify Argent contracts"
I have added the plugin to my truffle setup here https://github.com/argentlabs/argent-contracts/pull/146/commits/54d619e5585814ec9bcabb0f5a5eb20b375e5200
Running verification for two different contracts produces the same issue. Example below is the output for `GuardianStorage` validation

[code]

When checking on the EtherScan API the result for the above verification request I get:

[code]

I hav

[2020-11-15 13:26] JoyCood commented on #39
i meet the same problem..how to slove this issue?

[2020-11-15 13:29] JoyCood commented on #39
yes!

[2020-11-15 13:37] rkalis commented on #39
Please provide some more information. Do you have a repository that can reproduce this issue? Can you run the verify command using the `--debug` flag and paste output?

[2020-11-15 14:00] JoyCood commented on #39
D:\contract\pet>truffle run verify Adoption@0x830dAef5E0f6D39aD689F979bb3AB468c58017FF --network rinkeby --debug
DEBUG logging is turned ON
Running truffle-plugin-verify v0.5.0
Verifying Adoption@0x830dAef5E0f6D39aD689F979bb3AB468c58017FF
Reading artifact file at D:\contract\pet\build\contracts\Adoption.json
Custom address 0x830dAef5E0f6D39aD689F979bb3AB468c58017FF specified
Retrieving constructor

[2020-11-15 14:21] rkalis commented on #39
Could you tell me what happens if you enter the link above (api-rinkeby.etherscan.io/api?apiKey=My_API_Key&module=account&action=txlist&address=0x830dAef5E0f6D39aD689F979bb3AB468c58017FF&page=1&sort=asc&offset=1) into a browser (but with your own API key instead of `My_API_Key`) and copy paste the result?

[2020-11-16 02:10] JoyCood commented on #39
{"status":"1","message":"OK","result":[{"blockNumber":"7552433","timeStamp":"1605444916","hash":"0x3a7ac408893c111ff3b2f703e020b42f6c11ae2e34166b112086aa51528b85c3","nonce":"9","blockHash":"0x930411e35437b48869009ddd5056acc1c4e5f22fc564231de1e7e50fc0aa6f07","transactionIndex":"2","from":"0xd683358a0d2250f8f3efcaa649192e580c877af3","to":"","value":"0","gas":"4500000","gasPrice":"10000000000","isErr

[2020-11-19 10:21] rkalis commented on #39
Hmm that's odd.

I just released v0.5.1 of the plugin which should log the actual error that was thrown in the Etherscan request. Could you update to use v0.5.1 and try to verify again using the `--debug` flag. It should now display more debugging information.

[2020-11-19 14:59] rkalis commented on #46
Hey @elenadimitrova, I somehow missed this report. Sorry about that.

I took a look at your repository, but it's a bit more complicated than most Truffle projects, so could you provide me with some instructions on what to run to compile + deploy your contracts to a testnet, then I'll try to look into this.

[2020-11-21 08:21] JoyCood commented on #39
how to update to least version of truffle-plugin-verify?

[2020-11-21 08:45] rkalis commented on #39
I don't know a lot about windows, but I assume you have NPM installed, so you can run `npm install truffle-plugin-verify@latest`

[2020-11-21 16:24] JoyCood commented on #39
D:\contract\pet>truffle run verify Adoption --network rinkeby --debug
DEBUG logging is turned ON
Running truffle-plugin-verify v0.5.1
Verifying Adoption
Reading artifact file at D:\contract\pet\build\contracts\Adoption.json
Retrieving constructor parameters from https://api-rinkeby.etherscan.io/api?apiKey=My_API_KEY&module=account&action=txlist&address=0x830dAef5E0f6D39aD689F979bb3AB468c58017FF&pa

[2020-11-21 16:32] JoyCood commented on #39
D:\contract\pet>truffle run verify Adoption --network rinkeby --debug
DEBUG logging is turned ON
Running truffle-plugin-verify v0.5.1
Verifying Adoption
Reading artifact file at D:\contract\pet\build\contracts\Adoption.json
Retrieving constructor parameters from https://api-rinkeby.etherscan.io/api?apiKey=My_API_KEY&module=account&action=txlist&address=0x830dAef5E0f6D39aD689F979bb3AB468c58017FF&pa

[2020-11-21 17:42] rkalis commented on #39
Thanks for the update! Interesting, so the connection is timing out. I'm assuming that this is also the cause for @BruceChar and perhaps also for #40 🤔

@Enigmatic331 do you have an idea why this request might be returning an ETIMEDOUT (it's working in the browser).

[2020-11-21 17:43] Enigmatic331 commented on #39
Hey Rosco sorry that I missed this (and the other one). I'll take a look to see what might be missing here.

[2020-11-21 17:44] rkalis commented on #40
It looks like this error is the same as #39, so I'll close this one to continue the discussion there.

[2020-11-21 17:44] #40 closed

[2020-11-21 17:44] rkalis commented on #39
Looking at the other issue #40, they are getting a timed out when using `curl` as well.

[2020-11-21 17:45] rkalis commented on #41
I'm closing this issue due to inactivity. Feel free to reopen if you have more information.

[2020-11-21 17:45] #41 closed

[2020-11-23 02:10] Enigmatic331 commented on #39
Hey @JoyCood, could you give it a quick check to see if it's currently still persisting for you?

Thanks.

[2020-11-23 07:33] JoyCood commented on #39
unfortunaly, it is not work yet, the output after command run:
$ truffle run verify Adoption --network rinkeby --debug
DEBUG logging is turned ON
Running truffle-plugin-verify v0.5.1
Verifying Adoption
Reading artifact file at D:\contract\pet\build\contracts\Adoption.json
Retrieving constructor parameters from https://api-rinkeby.etherscan.io/api?apiKey=MY_API_KEY&module=account&action=txlist&addr

[2020-11-23 11:46] elenadimitrova commented on #46
@rkalis to reproduce, please use the `migrate-to-truffle` branch here https://github.com/argentlabs/argent-contracts/tree/experiment/migrate-to-truffle
Run `npm run cc` to compile everything. Since we are not using truffle migrations we need to pass the contract addresses explicitly:

`npx truffle run verify ApprovedTransfer@0x2d5186B00eE04d7ca6DBf3E3E07ce6003DFFEF2B --network test --debug`

This

[2020-11-23 12:41] rkalis commented on #46
Hey @elenadimitrova, I managed to verify the contract manually, and I think I tracked down the issue in the plugin. Do you have another deployed contract name + address that I can use to test it further, since I verified `ApprovedTransfer@0x2d5186B00eE04d7ca6DBf3E3E07ce6003DFFEF2B` manually through the form.

[2020-11-23 13:09] elenadimitrova commented on #46
Thanks for your help @rkalis , please use the following:

[code]

I can provide more if needed.

[2020-11-23 13:29] rkalis commented on #46
Alright, looks like I've been able to fix the bug that caused this, I've been able to verify WalletFactory, BaseWallet and MakerV2Manager using the plugin locally. I haven't published the new version though.

I wasn't able to verify CompoundRegistry, but it's because of some different reason that I haven't been able to figure out. It is the only one of the 4 that you listed that uses 0.5.4 rather

[2020-11-24 00:01] Macarse opened #47 "Can't verify contract"
Hello, I updated to 0.5.1 and this is the first time having issues verifying a contract with your plugin.

Code is at: https://github.com/Macarse/yearn-truffle-verify/commit/b443582eb377ef59236baff1932e809f0aa48dec
[output.txt](https://github.com/rkalis/truffle-plugin-verify/files/5586471/output.txt)

The output.txt is after running:
`truffle run verify GenericDyDx@0xeBb622A21Cc341E3A293E892D16C34

[2020-11-24 06:10] elenadimitrova commented on #46
There are nine different groups of contracts compiled differently. The contracts group `CompoundRegistry` lives in has the following compilation settings configured https://github.com/argentlabs/argent-contracts/blob/cf7e41fa6e9e9f2bd4ff6be464173030884f4098/truffle-config-infrastructure-0.5.js#L7

Although I am not too worried about verifying the 0.5 contracts as those are legacy, have already bee

[2020-11-24 06:52] rkalis commented on #46
I tried those contracts and they also both failed, so it does appear to be related to that somehow. If you're not too concerned with verifying the 0.5 contracts, I'll publish the bug-fix to a new version of the plugin, so you can try it out with the 0.6 contracts.

[2020-11-24 06:54] rkalis commented on #47
Hey @Macarse, so you're saying that the verification was working before, but now with v0.5.1 it isn't? What was the version you were using before?

[2020-11-24 07:09] rkalis commented on #46
I just published `truffle-plugin-verify@0.5.2`, which includes the fix to the first issue. Let me know if you still encounter issues with different contracts when using  this version.

[2020-11-24 12:24] elenadimitrova commented on #46
Thanks @rkalis that solves this issue. Closing now.

Is it possible to integrate the verification run with a node script? I am trying to automate the end-to-end deployment we have but have to stay node-side.

[2020-11-24 12:24] #46 closed

[2020-11-24 12:44] rkalis commented on #46
So you mean to call the verification as a JS function?

I've never done it before, but I suppose you could require the plugin and then call the exported function, but you'd need to pass in the `contract` parameter into the function somehow.

[code]

Note that the function can make process.exit() calls if something goes wrong, and it logs results to stdout/stderr (and doesn't return anything). It s

[2020-11-24 14:01] Macarse commented on #47
Sorry, bad working.
I got a failure even using the last version.

[2020-12-09 07:25] solnex commented on #39
same thing to me

`NFT admain$ truffle run verify NFTToken --network kovan  --debug`
`DEBUG logging is turned ON
Running truffle-plugin-verify v0.5.2
Verifying NFTToken
Reading artifact file at /Users/admin/myproject/NFT/build/contracts/NFTToken.json
Retrieving constructor parameters from https://api-kovan.etherscan.io/api?apiKey= MY_API_KEY&module=account&action=txlist&address=0x76e5A416c9215564f

[2020-12-09 15:37] rkalis commented on #34
Closing this issue for inactivity. Feel free to open it with more information.

[2020-12-09 15:37] #34 closed

[2020-12-11 10:22] solnex opened #48 "Could not retrieve constructor parameters"
following is the log ,I did have the constructor parameters but cannot Retrieving them,it may be the failed reason
[code]

[2020-12-11 10:49] rkalis commented on #48
Do you have a repository that I can look at? Also, could you try installing `v0.4.1` of the plugin and see if that one works?

[2020-12-11 12:13] solnex commented on #48
here is my repository: https://github.com/solnex/shardMarket.git
and when I switch to v0.4.1 , still failed
[code]

[2020-12-11 16:51] niccolopetti opened #49 "Failing to verify contract: "Cannot find module""
[code]
I'm trying to verify my contract but the plugin doesn't find it,

[code]
I am running on windows10 with node v12.18.0,
and the lastest versions of truffle and truffle-plugin-verify
How can I solve this?

[2020-12-11 17:07] rkalis commented on #49
Hey, I had another report similar to this earlier, but then I didn't hear back from them so I couldn't look into it more. Could you share your artifact JSON file as well?

[2020-12-11 17:14] niccolopetti commented on #49
Hey thanks for the answer, since the project I am working on is not open source can I send you the file in private or give you more specific details you may need?
I am using solc 0.7.5 to compile

[2020-12-11 17:38] niccolopetti commented on #49
I've sent you an email and I've tried to replace D:\oracle\onchain\build\contracts\Oracle.json with D:/oracle/onchain/contracts/Oracle.sol in the artifact and after that it found the module but I still got "Fail - Unable to verify"

[2020-12-11 17:52] niccolopetti commented on #49
Yes that should work, drives are only single letters on windows and use the english alphabet

[2020-12-11 18:31] rkalis commented on #39
I'm getting it myself as well every now and then. Sometimes it also returns an ETIMEDOUT at later requests (e.g. retrieving constructor args is fine, sending verify request as well, but getting verification status fails).

 Any idea what could be happening here @Enigmatic331?

[2020-12-11 18:41] rkalis commented on #49
Alright, I wrote some code that should fix this, but I don't want to deploy it just yet, cause I'm not sure it works and I don't use Windows. Could you install truffle-plugin-verify as a git-based dependency and see if it fixes it (and if not, please copy-paste the debug output again).

[code]

[2020-12-11 19:31] niccolopetti commented on #49
Ok I installed the new version and now it finds the module but I get
[code]

[2020-12-11 20:13] rkalis commented on #49
Hmm alright. I'll look at this later. Maybe you could try checking out this repo and migrating + verifying the metacoin example.

If that also fails then I know for sure that it is because of windows, but if that succeeds than it's specific to your project.

It's late over here, so I can post detailed instructions to run those examples later, but you might be able to figure that out by yourself as

[2020-12-11 23:35] niccolopetti commented on #49
Ok I tried running the Metacoin example and it didn't work,
giving basically the same output as in my project, there might actually be a problem with windows.

[2020-12-12 08:57] rkalis commented on #49
Alright, thanks for looking into it. I guess I'll have to run a Windows VM and do some debugging.

[2020-12-12 11:08] niccolopetti commented on #49
You're welcome, thank you for working on it

[2020-12-12 13:12] ninjadev101 opened #50 "contract verification on Binance Smart Chain or other custom chains."
We know this is a really good tool for our developers but can we do this for all chains? It is the same as Etherscan but I can't make it easily like this plugin. Kindly support this feature.

[2020-12-12 17:33] tokenDeveloper2020 commented on #49
Hey, I am also facing same issue on Windows

[2020-12-12 21:31] rkalis commented on #49
I did some debugging in a Windows VM today, and I got it working for the MetaCoin example. Could you install the new version from git (same branch) and try again?

[2020-12-12 22:40] niccolopetti commented on #49
Ok I tried running the MetaCoin example as found in the project and it worked, but when I changed the solc version from 0.6.11 to 0.7.5 it didn't work

[2020-12-12 23:50] tokenDeveloper2020 commented on #49
Thank you, now its working with 0.7.0

[2020-12-13 11:34] niccolopetti commented on #49
If it may be useful I tried migrating and verifying Migrations.sol and SimpleToken with solc 0.7.5 and it verified them, but Metacoin and my Smart Contract still fail to verify with 0.7.5

[2020-12-14 07:52] solnex commented on #48
it seems like the condition `res.data && res.data.status === RequestStatus.OK && res.data.result[0] !== undefined` is false,so that constructor parameters is ' '

[2020-12-14 11:33] solnex commented on #39
You can use command `export https_proxy="http://127.0.0.1:1087"` to set the endPoint proxy, remember to replace the port
with your network setting。

[2020-12-18 13:42] lebed2045 opened #52 "Fix "ParserError: Multiple SPDX license identifiers found in source file""
When you have two contracts, one depending form another, since solc v0.6.8, all of them should contain the SPDX license.

When I try `truffle run verify` it would yield the error
[code]

If I do manually `npx truffle-flattener` and upload it for etherscan I get the more detailed error:
[code]
-  when I remove the duplicates of `// SPDX-License-Identifier` from contact before upload to etherscan th

[2020-12-18 14:06] rkalis commented on #52
Which version of the plugin are you using? And can you post the output of running `truffle run verify ... --debug`?

[2020-12-19 13:00] rkalis commented on #49
I tried to verify the MetaCoin example from my MacBook using 0.7.5 and it failed as well, so it looks like this is a separate bug unrelated to Windows.

I then tried to use the Etherscan web form instead, which also failed. But it looks like the reason it failed is because somehow a part of the bytecode is replaced by some sort of placeholder.

The settings I used: https://goerli.etherscan.io/veri

[2020-12-19 13:18] rkalis commented on #49
I just did a few extra tests. Verification still works for 0.7.0, it doesn't for 0.8.0. @tokenDeveloper2020 can you check if it works for your project using 0.7.0. If so that could be a good workaround for now.

But it looks like some change made to Solidity between 0.7.0 and 0.7.5 makes it so that a part of the bytecode gets subbed out using `__$...$__` (I'm assuming it has something to do with l

[2020-12-19 13:25] rkalis commented on #48
It looks like the link to your repository isn't working, perhaps it's set to private?

[2020-12-19 13:27] Enigmatic331 commented on #49
Hey @rkalis thanks for the head's up! I'm looking into this, will test through a couple versions. Will report back.

[2020-12-19 13:41] rkalis commented on #47
Hey, sorry for dropping the ball on this. I tried to migrate your contracts to rinkeby to play around with them, but the deployment transaction hit a revert. Can you help me out by providing some instructions for migrating the contracts to testnet. It's easier for mee to debug if I can play around with the deployment settings.

[2020-12-19 13:49] rkalis commented on #47
I tried inputting the data into Etherscan's verify form as well, which showed very slight differences in the bytecode. Not sure what to do with that information though 😅

[2020-12-20 02:35] naszam opened #53 "Fail - Unable to verify"
Hi,

I'm trying to verify the WFILFactory contract on rinkeby via truffle-plugin-verify v0.5.2:
`npx truffle run verify WFILFactory --network rinkeby`

als tried with v0.4.1:
`npx truffle run verify WFILFactory --network rinkeby --licence`

I get:

[code]

with `--debug`:
[code]
The contract is compiled with optimizer enabled:
[code]

source code: https://github.com/wfil/wfil-factory/blob/main/con

[2020-12-20 13:01] rkalis commented on #53
Hey @naszam! I cloned your repo and was able to deploy and verify your WFILFactory contract (see https://rinkeby.etherscan.io/address/0x74286eb9b9F1F0181120F6524AAC51De28352D21#contracts). The I tried running 	`truffle run verify WFILFactory@0xD27B309B0Fd0E251674a6A52765934ef961E38Df` to verify the contract address you used. That also worked (see https://rinkeby.etherscan.io/address/0xD27B309B0Fd0

[2020-12-20 15:32] naszam commented on #53
I'm also trying to verify on kovan via:
`npx truffle run verify WFILFactory@0x7af62932FdB9bBd853AfE8Aea5Fee0005890BD64 --network kovan --debug`

and I get:

[code]

I've also tried to change the API KEY on Etherscan.

Truffle v5.1.58 (core: 5.1.58)
Solidity - 0.6.12 (solc-js)
Node v12.19.0
Web3.js v1.2.9

[2020-12-20 15:41] naszam commented on #53
Tried again and I get

[code]

[2020-12-20 16:03] naszam commented on #53
I've just cloned the repo and tried again, it worked!!!

`npx truffle run verify WFILFactory@0x7af62932FdB9bBd853AfE8Aea5Fee0005890BD64 --network kovan`

[code]

Thanks!

[2020-12-20 16:22] rkalis commented on #53
That's so weird haha. But I'm glad it's working now at least!

[2020-12-20 16:22] #53 closed

[2020-12-20 17:34] rkalis commented on #49
I published v0.5.3 today which includes the bug fix for the "Cannot find module" bug. I'll leave this issue open for the other bug that we found.

[2020-12-20 17:40] rkalis commented on #50
v0.5.3 of the plugin now supports verification on BscScan thanks to @xzjcool's PR. I'm open to PRs for other block explorers that offer similar functionality as long as it is a clean integration into the existing code.

[2020-12-20 17:40] #50 closed

[2020-12-21 08:21] Enigmatic331 commented on #49
Looks like v0.7.5 onward, library linking behaviour is different - Guessing it is something related to the "linking in assembly mode when library addresses are provided" enhancement.

I'm on this on our side. Using standard-json we expect the returned bytecode to have the library addresses to already be linked, so the change here I guess is to also perform library linking post-compilation. Working

[2020-12-21 09:18] solnex commented on #48
I  find the problem, perhaps it is because of the Terminal network agent

[2020-12-21 09:18] #48 closed

[2020-12-21 10:51] chriseth commented on #49
The `_$...$_` is indeed a placeholder for the library address. I cannot see any change being introduced in that regard, though. The changelog entry you referred to was only for assembly mode, not for solidity mode.

Speaking about linked binaries in general: It helps verification on other platforms if linking is performed by the compiler instead of manually substituting the placeholders by the lib

[2020-12-21 11:03] Enigmatic331 commented on #49
Aha... Chris! <3

So looks like the libraries json object is what is causing it:

[code]

If it's the below, no issues for solc v0.7.5:
[code]

solc v0.7.4 standardjson input supports both these versions, whereas solc v0.7.5 prefers only the latter example.

Hmmm. @rkalis where did you get your json generated from? I'll also check on my end as I am aware Etherscan does convert files to standard-js

[2020-12-21 11:08] rkalis commented on #49
In general it's from the metadata in Truffle's artifact JSON file, but the library object I actually hack in there, because it wasn't available from the metadata field.

[2020-12-21 11:18] Enigmatic331 commented on #49
Let's see... Yeap, looks right - That's also what I tried and seems to work (also test verified on your contract above: https://goerli.etherscan.io/address/0xf02e27c381EE14D68575a9Df553c67803709BCe8#code).

[2020-12-21 16:58] rkalis commented on #49
Great! Thanks for the help everyone in this thread! I just published v0.5.4 that fixes this library linking bug for Solidity >=0.7.5. It's a bit convoluted since the truffle artifact doesn't store the linked libraries' source paths, so I had to read the libraries' artifact files and get the required information from there. I've verified that it works for the MetaCoin + ConvertLib example on Max an

[2020-12-21 16:58] #49 closed

[2020-12-21 17:11] niccolopetti commented on #49
It works, great job!

[2020-12-25 03:58] vatalikbased opened #55 "rinkeby verify error"
Hostname/IP does not match certificate's altnames: Host: api-rinkeby.etherscan.io. is not in the cert's altnames: DNS:*.facebook.com, DNS:*.facebook.net, DNS:*.fbcdn.net, DNS:*.fbsbx.com, DNS:*.m.facebook.com, DNS:*.messenger.com, DNS:*.xx.fbcdn.net, DNS:*.xy.fbcdn.net, DNS:*.xz.fbcdn.net, DNS:facebook.com, DNS:messenger.com
Failed to connect to Etherscan API at url https://api-rinkeby.etherscan.i

[2020-12-25 16:26] rkalis commented on #55
Etherscan had some downtime today. This might be related to that. Can you try again now or tomorrow and see if the problem persists.

[2020-12-27 08:39] vatalikbased commented on #55
still not work

[2020-12-30 09:39] rkalis commented on #55
Are you able to run `curl https://api-rinkeby.etherscan.io/api` in the terminal?

[2021-01-15 21:08] marsrobertson opened #56 "No support for emojis in the comments 😿"
Running with `--debug`

Noticed emoji in the comments.

Removed emoji.

Now works.

[2021-01-15 23:42] rkalis commented on #56
That sounds interesting! I'll look into this some time on the weekend.

[2021-01-16 15:16] rkalis commented on #56
Actually let me tag @Enigmatic331 as well since the the error message appears to come form the Etherscan side.

[2021-01-20 16:14] lebed2045 opened #57 "Support Vyper verification"
when I try to verity vyper contract I get the error:
[code]

[2021-01-20 16:35] rkalis commented on #57
I don't think the plugin actually supports Vyper, since it uses Solidity Standard JSON, which I guess is not a thing with Vyper (haven't used Vyper myself).

Looking at the Etherscan API documentation it looks like they only support `solidity-single-file` or `solidity-standard-json-input`, but Vyper verification looks to be possible through their web form.

I'm hoping that @Enigmatic331 or someone

[2021-01-22 04:44] vipkouyu opened #59 "The reason Failed to connect to Etherscan API at url https://api-rinkeby.etherscan.io/api"
The reason is probably because ethersan.io is blocked in china mainland.

I use my own computer (in China) to call truffle verify, the system prompts: failed to connect to Etherscan API at URL https://api-rinkeby.etherscan.io/api

And then, The same code, I use the U.S. cloud server, success verified.

In china mianland, the access status as follows:
https://etherscan.io/   (404)
https://cn.ethers

[2021-01-22 07:34] vipkouyu opened #60 "Cannot find module '@openzeppelin/contracts/GSN/Context.sol'"
truffle solc version : 0.7.0
OS: windows 10

the json file as bollows:
[http://cdn.yiyashuo.com/Context.json](url)

[2021-01-24 10:02] rkalis commented on #60
Can you provide some more context / information? Do you have a repository of your project and/or can you share the output when running the command with the `--debug` flag?

[2021-01-24 10:03] rkalis commented on #59
Hmm, that is interesting. Thanks for that information @vipkouyu. Not sure yet how to solve this 🤔

[2021-01-25 06:10] vipkouyu commented on #60
@rkalis   solved，the reason is my project structure, I create a folder "ETH contract "  in my nodejs web project.
After i moved the [contract/migration/test/config] to the upper level, the problem is soloved.

[2021-01-25 06:47] rkalis commented on #60
Alright, happy to hear you were able to fix the issue!

[2021-01-25 06:47] #60 closed

[2021-02-01 15:07] rkalis commented on #52
Interesting. @Enigmatic331, do you have an idea as to what "General exception occured when attempting to insert record" signifies on the Etherscan side?

For now @lebed2045, could you try downgrading the plugin to the legacy version (`npm install truffle-plugin-verify@legacy`), and running it with the `--license MIT` flag (or a different license identifier). This will use code flattening instead o

[2021-02-01 19:35] lebed2045 commented on #52
didn't help,
[code]

[2021-02-02 07:03] rkalis commented on #52
Hmm too bad. Do you have a repo link as well?

[2021-02-02 09:27] lebed2045 commented on #52
No, my client prefers to keep the repo closed as for now, but I can I share the flattened file will all dependencies,
(I haven't figure out whether verify works with flattened file since it looking for artifact file rather than solidity)

[code]

[2021-02-03 02:25] krypt007 opened #62 "Fail - Unable to verify, Failed to verify 1 contract(s): LoadToken"
[code]

[2021-02-03 10:07] rkalis commented on #62
Could you try updating to the latest version (or if you don't want to use multi-file verification, could you try updating to the `truffle-plugin-verify@legacy` version), and try again?

[2021-02-15 11:43] rkalis commented on #52
Hey @lebed2045, I missed your previous message. I tried to verify using the plugin and ran into the same error as you. I tried to import the generated Standard JSON into the Etherscan form, which gave me an interesting error. See attached image. It says it is unable to generate any bytecode, but it doesn't show any compiler errors (just the warning).

<img width="1224" alt="Screen Shot 2021-02-15

[2021-02-15 17:00] Enigmatic331 commented on #52
Hey Rosco! Thanks for pinging.

Hmm. I popped open one of the files and had a quick look. Seems like they're JSON escaped twice? I unescaped them once and cleaned the formatting it a little (just so it's easier on my eyes), then reattempted verification through Etherscan: https://rinkeby.etherscan.io/address/0x71694eE1B3D95885FF94202f631B942462fD6B08#code

The file I used as attached (rename the f

[2021-02-15 17:05] Enigmatic331 commented on #52
Done Goerli for ya as well Rosco <3

https://goerli.etherscan.io/address/0xB0535c5b3d030c6A43c915CbEb2D1DaBf2CA11Eb#contracts

Also the same, had to unescape it once before it would verify.

PS: If I am missing any other issues, feel free to ping. I think there are some Github notifications which did not make it to my email....

[2021-02-16 10:13] rkalis commented on #52
Hmm interesting, thanks for looking into it @Enigmatic331!

I'm guessing that the "double escape" is due to an error on my side when trying to output the Input JSON manually, since for API usage, the JSON content does gets stringified (as expected).

So then manual verification for this contract did work, but the API returns "General exception occured when attempting to insert record". Do you have

[2021-02-16 12:55] Enigmatic331 commented on #52
[code]

If it's specifically this error, it's typically when our verification servers are down, usually for a quick maintenance/reboot - Should not happen often nor last more than 30 minutes so feel free to retry after.

(yea just checked our logs, we rebooted a couple of our servers and pushed updates during those two dates very coincidentally; But if the "attempting to insert record" issue still

[2021-02-17 11:53] VenimirPetkov commented on #62
Is there solution for this issue? I need multy-files verification but I'm facing the same problem, when I try with @legacy it's flatten my contracts and this is not desirable for my case.

[2021-02-17 11:55] rkalis commented on #62
@VenimirPetkov can you install with `@latest` rather than `@legacy` and copy-paste the output when running with `--debug`?

[2021-02-17 12:55] VenimirPetkov commented on #62
@rkalis The problem was because I have a constructor parameter and that I used a Windows machine, I switch to the Linux machine and everything is working fine.

[2021-02-17 12:59] rkalis commented on #62
Happy it was resolved for you. It should also work on Windows, but Windows does tend to have a few more quirks than Linux 😅

[2021-02-25 08:43] sjuanati opened #63 "Vulnerability with axios dependency (v0.5.4)"
When installing v0.5.4 of truffle-plugin-verify, an `npm audit` shows the following high-risk vulnerability:

- High:                     Server-Side Request Forgery
- Package:              axios
- Patched in:           >=0.21.1
- Dependency of:   truffle-plugin-verify
- Path:                     truffle-plugin-verify > axios
- More info:            https://npmjs.com/advisories/1594

Would it be p

[2021-02-25 14:48] rkalis commented on #63
Thanks for the report! Just released v0.5.5 with updated dependencies.

[2021-02-25 14:48] #63 closed

[2021-03-06 13:36] Theo6890 commented on #52
Line5:

You forgot to delete the API key there (if that can prevent from someone using this one if still available)

[2021-03-06 17:50] Theo6890 opened #65 "Fail - Unable to verify: solc@0.8.2"
I've lost so much time trying to verify with compiled code using solc@0.8.2 but in fact there is a problem with etherscan verification and solc@0.8.2!

So **use solc@0.8.1** for the moment 😉

[2021-03-11 09:14] arintrongs opened #66 "Fail - Cannot read property 'absolutePath' of undefined"
I've got this error when trying to verify my contract.

[code]

[2021-03-14 19:41] Hashflower opened #67 "No Etherscan API key specified"
HI there, I've specified my API key in the truffle config file but I am getting
`No Etherscan API key specified` at every try. My API works correctly.

Config :

[code]

I have also tried by entering the API key directly but same result. Any clues ? Thanks!

[2021-03-15 05:58] Hashflower commented on #67
Solved, dumb me had placed the api keys inside the network section....

[2021-03-15 05:58] #67 closed

[2021-03-15 06:47] rkalis commented on #67
Glad you were able to figure it out!

[2021-03-16 07:43] erdemozturk52 opened #68 "says it was approved successfully, but it does not seem to be approved."
I developed a project on binance smart chain network. Everything is well verified in the test network, but the codes appear to be not verified on the main network. But it says it has been successfully confirmed at the terminal. What is the reason?

[2021-03-18 16:49] jadedefi commented on #68
We have met the same problem. We succeeded in the testnet but it did not work in the main net. Does ANYONE managed to fix the problem?

[2021-03-18 17:24] rkalis commented on #68
Hmm interesting. Do you have a code repo I can look at, and could you share the output when runnning with the `--debug` flag (with API key removed)?

[2021-03-18 17:25] rkalis commented on #66
Do you have a repository I can look at?

[2021-03-18 18:49] erdemozturk52 commented on #68
DEBUG logging is turned ON
Running truffle-plugin-verify v0.5.7
Verifying CitaProtocol
Reading artifact file at /home/ozturk/Desktop/cita-protocol/build/contracts/CitaProtocol.json
Retrieving constructor parameters from https://api.bscscan.com/api?apiKey=API_KEY&module=account&action=txlist&address=0xaFa2219bc6998575d2E5fd3EE602EAd4Ca9d7A65&page=1&sort=asc&offset=1
Constructor parameters retrieved

[2021-03-19 00:13] SafuDefi commented on #68
I've got the exact same issue on bsc mainnet

[code]
[code]

[2021-03-19 01:57] shinyabsoll commented on #68
I am also experiencing the same issue

[code]

[2021-03-19 05:04] shengda commented on #68
I am getting the same issue. It works last week and seems broken now.

[2021-03-19 11:38] rkalis commented on #68
Judging from the :eyes: emoji that @Enigmatic331 added here I assume Etherscan is aware of the issue. I'll leave this issue open in the mean time, but I don't think there's anything I can do.

[2021-03-19 11:45] erdemozturk52 commented on #68
the problem is caused by bscscan.

[2021-03-19 11:46] rkalis commented on #68
Right I meant to say BscScan, although they're the same company.

[2021-03-19 16:42] Enigmatic331 commented on #68
Hey all - Done some updates and tested a couple contracts, seemed to be working fine on my end now but if anyone gives it another shot and encounter any issues, please do let me know? Thanks!

[2021-03-19 16:42] Enigmatic331 commented on #68
And of course, super sorry for the inconvenience.

[2021-03-19 18:17] SafuDefi commented on #68
I will give it a shot! Thanks

[2021-03-20 15:49] shinyabsoll commented on #68
Yes it was also able to work for me with the previous contracts. Problem can be closed, EtherScan took care of the issue.

[2021-03-20 15:52] rkalis commented on #68
Awesome, thanks for the quick fix @Enigmatic331!

[2021-03-20 15:52] #68 closed

[2021-03-25 22:55] keyboard-clacker opened #70 "Failed to verify contract"
Hey there! I'm trying to verify a contract on mainnet and I was able to verify a linked library that we wrote and use, but when I try to verify the main contract, it fails for an unknown reason.

<details><summary>Logs...</summary>

[code]

</details>

I've redacted the source code, changed the name of the contract to Project, and removed my API key and contract address, but I'm not sure if those

[2021-03-26 21:57] keyboard-clacker commented on #70
Update on this, I just realized it may be because my truffle migration failed at the "Saving migration to chain" step. Once I deployed and had that step pass by decreasing my gas limit (apparently truffle uses your default global gas limit for saving to chain, which seems very high), I was able to redeploy and verify the second contract that initially was failing verification.

Think maybe it's wo

[2021-03-26 22:04] SwirlCash commented on #66
The mentioned error can be easily reproduces for Tornado.Cash contracts - https://github.com/tornadocash/tornado-core
Hasher.json is created by an external compiler that truffle calls - https://github.com/tornadocash/tornado-core/blob/master/compileHasher.js

Can you please check if this can be verified?

[2021-03-27 09:48] rkalis commented on #66
I see. Thanks for the link to the repo, will take a look  at it.

[2021-03-27 10:33] rkalis commented on #66
The reason the current library linking code looks like this (looking at `ast.absolutePath`) is because the "simpler" initial version stopped working with Solidity >=0.7.5 (see the second half of the thread in [#49](https://github.com/rkalis/truffle-plugin-verify/issues/49)). Perhaps you could try installing `truffle-plugin-verify@0.5.3`, which is before I made this change.

If that doesn't work I

[2021-03-27 10:38] rkalis commented on #70
Oh interesting, yeah I guess that Truffle was unable to add the linked library to the artifact because it failed in the middle. Not sure how to communicate that in the README, but if you have a good idea, I'm happy to take a PR for it!

[2021-03-27 11:08] SwirlCash commented on #66
This version indeed verifies the contracts right away.
Thank you for the quick response and workaround!

[2021-03-27 11:10] rkalis commented on #66
Happy that worked. I'll try to publish a new version that works for both cases some time in the future, so I'll leave this issue open for now. But like I said, it will probably take a while.

[2021-04-09 21:57] marsrobertson opened #71 "General exception occured when attempting to insert record"
I'm trying to deploy this: https://github.com/basexisland/assurance-contract

Need to change `secrets.json.sample` into `secrets.json` and provide:
* private key
* infura
* etherscan

[code]

Tried resolve using: https://github.com/rkalis/truffle-plugin-verify/issues/52#issuecomment-770924240

[code]

# Still doesn't work... Any ideas?

[2021-04-10 08:42] marsrobertson commented on #71
`await deployer.deploy(NetworkStateGenesis, "Network State Genesis", "🔮", multisig, WBTCaddress, cutoffTimestamp);`

Maybe emoji problem?

[2021-04-10 13:38] ferittuncer opened #72 "Support for Single File Verification"
I suggest this plugin to keep support for single file verifications.

Sometimes it's more plausible to use single file verification because it's easier to copy sources for verifying the same contract in another network.

[2021-04-10 15:56] rkalis commented on #72
truffle-plugin-verify@legacy supports flattened source verification. With the current code it's not maintainable for me to support both multi file and flattened verification in the same code Base, which is why I separated the versions.

In the future I would like to support verification on e.g. Blockscout and sourcify as well, so I will consider re-adding flattened verification at that time.

[2021-04-10 17:54] marsrobertson commented on #71
It was emoji issue after all!

_(there was another emoji in the code)_

[2021-04-20 23:10] felixakiragreen commented on #71
I think I am running into a similar issue where like an idiot I included some special characters in the comments. Were you able to find a workaround for getting your contract verified?

[2021-04-20 23:15] felixakiragreen commented on #56
I'm running into the same issue where I am am trying to verify a contract that has already been deployed to mainnet.

If it includes the emojis/special characters in the comments it fails, but without them it succeeds. (On testnet)

Unfortunately my contract is already deployed on mainnet.

@rkalis @marsrobertson Are you aware of any way to do the verification if it already includes the emojis/spe

[2021-04-21 08:00] rkalis commented on #56
You should be able to change the comments and still get it to verify on Etherscan since the comments don't impact the bytecode. In other words the comments in the verified version don't have to be exactly the same as in the deployed version.

[2021-04-21 19:38] felixakiragreen commented on #56
@rkalis 🙏 thanks so much. Trying now!

[2021-04-27 08:29] zmyqucai8 commented on #59
After using VPN, the chinese coder can access all the ethercan link, but the truffle verify still failed.

I have the same problem

[2021-04-28 03:22] dobpp commented on #16
On Heco chain, I am gettins same issue

[2021-05-01 03:08] shaunrd0 commented on #16
Having this problem too, API key, code, contract address is all showing up right when I pass `--debug` option, but still getting Invalid API Key just as OP shows. I'm on ropsten. [Here is my reposityory](https://gitlab.com/shaunrd0/karma/-/tree/upgradeable-karma), the issue I'm having is at the latest commit is on the `upgradeable-karma` branch. I'll update if I find a solution. Any luck, @dobpp ?

[2021-05-01 17:32] sunburncrypto opened #73 "FTM Testnet Verification Support"
I suggest having a FTM testnet support would be nice. Right now FTM itself is cheap but in any case i think it would be better if we could use this package for testnet as well

[2021-05-01 22:00] Sheldenshi commented on #39
generate a new API key on etherscan. At least that solved the issue for me.

[2021-05-02 08:42] rkalis commented on #16
Does it change anything if you create a new API key and use that?

[2021-05-02 08:44] rkalis commented on #73
It doesn't look like FtmScan has support for testnet. You should probably contact their support and let them know you want them to support FTM testnet. If they do, I'm happy to add it to the package. Until then, I'm closing the issue.

[2021-05-02 08:44] #73 closed

[2021-05-02 18:59] shaunrd0 commented on #16
It seems like I just happened to be using endpoints that were under maintenance at that time, so things are fine now on all endpoints. Still unable to verify my development branch. What is interesting to me though, is I can verify my `Migrations` contract, just not the `Karma` contract  -

[code]

Just to test things, I cloned my repository main branch, which is not an upgradeable token, redeploye

[2021-05-07 05:52] jasonnn0210 opened #74 "Could not locate ContractCode for BscScan even though it already exists on the explorer"
Hi, I am trying to verify my contract, but it says that it is unable to locate ContractCode. However, when going to bscscan to locate it manually, it is there already. Is there something wrong with the way I am doing things? Thank you!

[2021-05-07 09:37] rkalis commented on #8
thanks to PR #61 from @hellwolf it's now possible to provide the encoded constructor args as a force override with the `--forceConstructorArgs` option. I'll leave this issue open though since we might want to update this in the future to allow unencoded args or to figure out some automated process.

[2021-05-07 09:41] rkalis commented on #70
Closing this issue, but feel free to open a PR with an update to the README.

[2021-05-07 09:41] #70 closed

[2021-05-07 09:42] rkalis commented on #47
I'm closing this issue due to inactivity, feel free to re-open in the future.

[2021-05-07 09:42] #47 closed

[2021-05-07 09:42] rkalis commented on #55
I'm closing this issue due to inactivity, feel free to re-open in the future.

[2021-05-07 09:42] #55 closed

[2021-05-07 09:43] rkalis commented on #62
I'm closing this issue due to inactivity, feel free to re-open in the future.

[2021-05-07 09:43] #62 closed

[2021-05-07 09:46] rkalis commented on #65
Looking at the linked issue on the hardhat repo (https://github.com/nomiclabs/hardhat/issues/1308) this issue doesn't occur any more.

[2021-05-07 09:46] #65 closed

[2021-05-07 10:10] rkalis commented on #56
@Enigmatic331 do you have any idea why emojis cannot occur in the comments when submitting for verification?

[2021-05-07 10:11] rkalis commented on #71
Closing this as a duplicate of #56

[2021-05-07 10:11] #71 closed

[2021-05-07 10:13] rkalis commented on #74
Could you run the verify command using the `--debug` flag and provide the output here?

[2021-05-07 17:48] ThiruDevel commented on #74
I am also trying to verify the contract. But still getting error of "Unable to locate ContractCode at Contractaddress"
Using Truffle framework. Compile all files done. But verify is not working in Bsc Mainnet. But Testnet is working fine.

[2021-05-08 05:28] Aether-eum commented on #74
I had the same issue, but it turns out that these days bscscan api is very slow to index new deploys. I tried ~4 hours later and it worked.

[2021-05-08 08:32] jasonnn0210 commented on #74
hi, i tried it after awhile, and it managed to work, thank you!

[2021-05-08 08:32] #74 closed

[2021-05-09 14:24] AtomicLemon commented on #74
Hi! Sounds like I'm having the same issue. My contracts deploy and verify on ropsten & bsc testnet perfectly, but not on bsc mainnet.

[2021-05-23 03:39] NeoXtreem opened #77 "Simple ERC20PresetMinterPauserUpgradeable contract can't be verified with Truffle"
**💻 Environment**
Truffle versions from **package.json**:

    "truffle": "^5.3.6",
    "truffle-plugin-verify": "^0.5.8"

**📝Details**
I'm deploying a simple contract to Rinkeby with the following commands:

    npx truffle migrate --reset --network rinkeby
    npx truffle run verify Foo --network rinkeby

I get the following output:

    Verifying Foo
    Fail - Unable to verify
    Failed to ve

[2021-05-24 15:06] Shirley-Ji opened #78 "How to support private chain?"
Hi guys,

We created a new chain based on Ethereum Geth version, and we want to do contract verification, how to do it wtih this plugin? It seems the function should not work if Only adding the api url.

And do you know if Ethereum open sourced the source code of how to do contract verification?

Thanks,
Shirley

[2021-05-24 15:16] gabriel-bersouski commented on #77
similar problem here. Anyone ?

[2021-05-25 07:52] rkalis commented on #77
Hey! Thanks for the detailed report. Could you also run the command once with the `--debug` flag and post the output (with API key removed)?

[2021-05-25 11:48] rkalis commented on #78
This plugin currently only works specifically for Etherscan (and derived explorers like BscScan), so unless your chain gets its own explorer under the Etherscan umbrella you won't be able to verify it. However, there are open source solutions, such as blockscout and sourcify that can be amended to work with your own chain and offer verification. But it won't work with this plugin, so you'll have t

[2021-05-25 11:48] #78 closed

[2021-05-26 21:29] NeoXtreem commented on #77
OK, crisis averted. I tried again, but this time deleting the **.openzeppelin** folder first, and it worked!

Thanks, and I hope anyone searching for a similar problem finds this simple 'solution'.

[2021-05-26 21:29] #77 closed

[2021-05-27 06:47] rkalis commented on #77
Interesting. Hopefully other people with a similar problem will be able to find this issue and follow the same steps. Thanks!

[2021-05-27 10:10] k1rill-fedoseev opened #80 "Allow to verify proxy contracts"
Etherscan has the endpoint for verification of proxy-style contract pairs.

It would be a nice feature to allow optionally call `https://api.etherscan.io/api?module=contract&action=verifyproxycontract&apikey=YourApiKeyToken` after verification of proxy and implementations contracts separately.

I guess this can be implemented by adding an extra `--verify-proxy` flag to the `truffle run verify` com

[2021-05-29 22:29] tjones0808 opened #81 "PolygonScan support"

[2021-05-31 11:53] rkalis opened #82 "Support for Blockscout based explorers"
truffle-plugin-verify currently only works with Etherscan and its derived platforms (such as BscScan or FtmScan). Certain other EVM-based platforms such as ETC don't have Etherscan-based explorers, but verifying source code for these platforms can still be valuable. Most of these platforms use explorers derived from Blockscout, so it makes sense to support Blockscout verification in the plugin.

[2021-05-31 11:55] rkalis opened #83 "Support for Sourcify"
Sourcify is a repository of verified source code that uses Solidity's builtin metadata hash functionality.

[2021-05-31 11:59] rkalis commented on #81
truffle-plugin-verify currently only works with Etherscan and its derivative platforms (like BscScan or HecoInfo). Etherscan has no platform for Matic (yet) so until then it can't be added to this plugin. Explorers like maticvigil are based on blockscout, so I just opened #82 to implement support for blockscout explorers in general (which would include maticvigil). I can't give any timelines on wh

[2021-05-31 11:59] rkalis commented on #80
This is interesting. I can definitely see the value in this. Will need to look into it a bit more though.

[2021-06-07 14:36] lebed2045 commented on #56
lol, I can confirm this behaviour for https://testnet.bscscan.com/address/0xa8Ebf9a20aD4F9226346729BB0d4AEf67Eda185E#contracts - wasn't able to verify untill I removed 🐧

[2021-06-09 07:57] rkalis commented on #81
Since Etherscan has recently launched PolygonScan, I'm reopening this issue. I implemented Polygon support in the polygon branch (https://github.com/rkalis/truffle-plugin-verify/tree/polygon). But it doesn't look to be working yet, which appears to be an issue on the PolygonScan side.

When I deploy the same contracts (the example `metacoin` directory) to Rinkeby and Polygon, and then run verify,

[2021-06-11 09:54] hack3r-0m commented on #81
@rkalis can you assign me this issue? i can work on it and submit PR asap

[2021-06-11 09:57] rkalis commented on #81
You're welcome to work on it. I have my code in the https://github.com/rkalis/truffle-plugin-verify/tree/polygon branch. The current issue that I'm running into is the one described above, which appears to be on the PolygonScan side. I might be wrong in that, so if you're able to figure out a solution that would be great!

[2021-06-13 06:08] tomw1808 opened #84 "Failed: Invalid API Key"
Might be something really stupid I a not seing:
1. Installed latest truffle-plugin-verify
2. Created an API Key on Etherscan (https://etherscan.io/myapikey)
3. Added the API Key to truffle
4. I can see the API Key in the Debug output when running `truffle run verify MyContract --network mainnet --debug` but receive an error

Here's the console output and some debug output but shortened for readabi

[2021-06-13 07:58] rkalis commented on #84
That's weird. It doesn't look like you're doing anything wrong. It could be that there's a temporary issue with Etherscan. Perhaps you can try generating a new API key and seeing if that works, or wait a day and try again.

[2021-06-13 10:06] hack3r-0m commented on #81
@rkalis I was not able to get it working as well, tried with curl/postman but doesn't seem to work. hardhat-ethers has added support for it https://github.com/nomiclabs/hardhat/commit/273cc92b3dffbab0ba05bc4caa28296c3540ce79, not sure they tested or not

[2021-06-13 15:58] tomw1808 commented on #84
It started working again. Didn't change anything. Love it, works really like a charm - great plugin!

[2021-06-13 17:00] rkalis commented on #84
Good to hear that fixed it!

[2021-06-13 17:00] #84 closed

[2021-06-13 17:01] rkalis commented on #81
What we could still do is add the Polygon code to the `legacy` branch to see if the verification does work when using flattened source code.

[2021-06-14 22:11] hpolthof commented on #81
I've just succesfully verified a few contracts with the polygon branch. Seems that the issues with polygonscan are fixed.

Think it's safe to merge. @rkalis

[2021-06-14 22:15] jyap808 commented on #81
Can confirm works fine

[2021-06-14 22:16] rkalis commented on #81
Nice! Just did a quick check and it's working for me as well.

Released PolygonScan support in v0.5.9 :tada:

[2021-06-14 22:16] #81 closed

[2021-06-15 12:28] the-juju opened #86 "Error: Cannot find module 'pify' when running verification"
Hello @rkalis First of all, thanks for your work!

I'm running into an error when trying to run this command :
`truffle run verify MyToken@0xSMARTCONTRACTADDRESS --network mainnet`

The error is : Error: Cannot find module 'pify'  😢

Anyone got the same problem and find the right fix ?

Have a nice day

[2021-06-19 11:59] selimerunkut opened #87 "Unable to verify contracts"
[code]

Fails **with** and **without** constructor arguments (on rinkeby and bsctestnet):

`truffle run verify ExchangeV2 --network bsctestnet --forceConstructorArgs string:0000000000000000000000005fbdb2315678afecb367f032d93f642f64180aa30000000000000000000000009fe46736679d2d9a65f0992f2272de9f3c7fa6e000000000000000000000000000000000000000000000000000000000000000640000000000000000000000009d1cb8509a7

[2021-06-21 14:47] rkalis commented on #86
I have no idea about this, truffle-plugin-verify doesn't depend on 'pify' afaik. Do you have a repo I can look at?

[2021-06-21 14:57] rkalis commented on #87
Could you share the rest of the debug output (before it prints the request parameters)?

[2021-06-22 21:57] bx67212 opened #88 "Fail - Unable to verify"
Hi,

on Rinkeby everything works well but now on mainnet I cant verify my 2 deployed contracts

[2021-06-23 04:35] bx67212 commented on #88
Wow, amazing, I just try again and eveything is ok ahah

[2021-06-23 04:35] #88 closed

[2021-06-23 09:03] rkalis commented on #88
Haha happy it worked, sometimes there can be temporary outages in the Etherscan API.

[2021-06-27 04:10] disruptcapital opened #89 "BSC General exception occured when attempting to insert record"
I've made this contract as simple as possible.  The same issue occurs on the mainnet and version 0.5.9

Dependencies:

[code]

[code]

[2021-06-27 12:31] rkalis commented on #89
`General exception occured when attempting to insert record` is a generic error on the Etherscan side, I think the same error showed up when putting emoji in the comments. @Enigmatic331 is it possible that the issue here could be with the `\r` characters?

[2021-06-29 19:06] FedOken opened #90 "Fail - Unable to verify (After contract creation from testnet.hecoinfo.com)"
[code]
[code]

Ok, I have a contract https://testnet.hecoinfo.com/address/0x8fc4532be3003fb5a3a2f9afc7e95b3bfbd5faab#code that has method `createToken(string memory _name, string memory _symbol)`. This method deploy new contract and I try to verify this new contract.

New contract has `constructor(string memory _name, string memory _symbol, uint256 _swapFee, address _swapFabricContractAddress) `,

[2021-07-02 06:49] the-juju commented on #86
Hello. This is a strange thing. To solve it I had to run on my own `npm install pify`

You can have a look on your side but it's probably something coming from npm...
Repo : [https://github.com/buyzooka/bzoo](https://github.com/buyzooka/bzoo)

[2021-07-02 06:49] #86 closed

[2021-07-02 09:39] rkalis commented on #86
Super weird. Might be some other dependency interfering or something 🤔

Happy it's solved for you though!

[2021-07-04 13:04] makar-al opened #92 "Doesn't work with latest `truffle`"
Fails with `Cannot find module 'project:/contracts/FooBarBaz.sol'` error message. I guess it's because of [this](https://github.com/trufflesuite/truffle/pull/4137) change in `truffle`.

[2021-07-05 07:22] rkalis commented on #92
Oof, yep. Good catch. I'll have to update the plugin to work with both ways then. If anyone runs into this issue in the mean time, the current workaround is downgrading to truffle v5.3.13 or lower.

[2021-07-06 21:20] jcihocki commented on #92
[code]

[code]

Are we sure that's the fix?

[2021-07-07 03:57] ssirapidinnovation opened #93 "Unable to verify the contract,"
![image](https://user-images.githubusercontent.com/68364842/124697988-7541a900-df05-11eb-9d4e-b9a966f5ad46.png)

getting this error, Note(i am using openzepplin imports hope its not related to that)

[2021-07-07 09:17] rkalis commented on #92
That's weird. Did you also use the earlier version of Truffle when compiling/migrating?

[2021-07-07 10:28] Delgus commented on #92
@rkalis

truffle-plugin-verify 0.5.10

`
# truffle version
Truffle v5.3.13 (core: 5.3.13)
Solidity - 0.8.0 (solc-js)
Node v10.19.0
Web3.js v1.3.6`

`# truffle run verify APPL@0xEfb1b23b14c989107ac6677Bee0CE271144c5957 --network testnet
Verifying APPL@0xEfb1b23b14c989107ac6677Bee0CE271144c5957
Cannot find module 'project:/contracts/APPL.sol'
Failed to verify 1 contract(s): APPL@0xEfb1b23b14c989107a

[2021-07-07 10:54] Delgus commented on #92
I am done deepest downgrade
[code]

It is not work too

[2021-07-07 10:56] rkalis commented on #92
Did you also use that version of Truffle when compiling/migrating, or only when verifying?

[2021-07-07 11:13] Delgus commented on #92
Yes, i am execute now
[code]
and
[code]

[code]

package.json
[code]

[2021-07-07 11:25] tmpacifitech opened #95 "Unable to verify token extending another contract."
I have two contracts.
[code]

And Token contract is extended from Base contract.

[code]

`truffle compile` and `truffle migrate` works great. (only deployed `Token` contract on migration)

After migrate, I tried to verify Token contract using `truffle run verify Token --network testnet`

But it returned this error.

[code]

Any thoughts?

[2021-07-07 11:49] Delgus commented on #92
@rkalis, i'm sorry
I am manually remove build/contracts and compile again. It's worked!

[2021-07-07 12:48] jcihocki commented on #92
no i didn't, and recompiling all definitely fixed it 🤓

thanks for responding!

[2021-07-07 14:13] rkalis commented on #92
Happy the workaround worked for you guys!

I just released v0.5.11 which should fix the issue for the new version of Truffle as well. If issues persist, please feel free to re-open this issue.

[2021-07-07 14:13] #92 closed

[2021-07-07 14:14] rkalis commented on #95
This was caused by a change in the new version of Truffle (see #92). Should be ficed in truffle-plugin-verify v0.5.11

[2021-07-07 14:14] #95 closed

[2021-07-07 16:35] rkalis commented on #93
Could you share the entire output of running `truffle run verify ... --debug`?

[2021-07-07 16:39] rkalis commented on #90
Does it work if you verify with the online verification form or by using a tool such as [solt](https://github.com/hjubb/solt)?

[2021-07-07 16:45] ssirapidinnovation commented on #93
DEBUG logging is turned ON
Running truffle-plugin-verify v0.5.7
Verifying DAPP
Reading artifact file at E:\Projects\dapperc20\build\contracts\DAPP.json
Retrieving constructor parameters from https://api-rinkeby.etherscan.io/api?apiKey=EZHQPM7ETCHP6IZQVQKKT6M9ITTBYS1GNQ&module=account&action=txlist&address=0x6f295F47DCF8ba815a0cA28b4b60f7903a084CC1&page=1&sort=asc&offset=1
Constructor parameters re

[2021-07-07 16:52] rkalis commented on #93
Hmm I don't see anything out of the ordinary. Did you run your truffle commands immediately after each other, or was there some time between them?
[code]

Alternatively, could you try using a tool like [solt](https://github.com/hjubb/solt) to see if that works?

[2021-07-07 17:09] ssirapidinnovation commented on #93
Yes I run all the commands and everything was fine upto truffle migrate , I can share the contract with you as well if required.

[2021-07-14 08:53] ngmachado opened #96 "Add Polygon Mumbai Support"
Add Mumbai support in [etherscan](https://mumbai.polygonscan.com/)

I can do this, if you don't already coded.

[2021-07-14 08:55] ngmachado commented on #96
this was already integrated. My repo was out of sync.

[2021-07-14 08:55] #96 closed

[2021-07-14 09:02] rkalis commented on #93
Weird. It's going to be difficult for me to debug this accurately, so I need to make sure that it's a problem with truffle-plugin-verify first.

Could you try these things:
- verify using `truffle-plugin-verify@legacy`
- verify using [solt](https://github.com/hjubb/solt) - similar tool to this plugin, but different

If it does work for either of those, there's most likely a bug in truffle-plugin-v

[2021-07-22 12:09] vladlensky commented on #80
It would be really cool to implement such a feature!

For those who are stuck with the same issue - simply pass as it is said in the docs - the real address after contract's name in the command - truffle run verify Contract@address, after that verify proxy under this URL - `https://ropsten.etherscan.io/proxyContractChecker`

Using this URL you can even find the contract's implementation address, j

[2021-07-26 15:50] wearekolossum opened #97 "Polygonscan: contract verification only possible with truffle-plugin-verify@legacy"
Hey,

first of all: GREAT PLUGIN! Saved me countless hours of my life :)

I tried verifying my contract on polgonscan.com with `truffle-plugin-verify` which gave me:

[code]

Not specifying the contract address made no difference. Between

[code]

where some time passed.

I then installed `truffle-plugin-verify@legacy` as mentioned in another issue gave me:

[code]

Just wanted to let you know, ma

[2021-07-26 17:59] rkalis commented on #97
Hmm, that does seem to indicate that there's something off with the multi-file verification! Thanks, will have to look at this in more detaill.

[2021-07-27 18:20] Mentors4EDU opened #98 "Blockscout / Ethereum Classic support"
Are there any plans for BlockScout support for massively verifying contracts? I wasn't sure what angle to go in regards to updating or making a PR and any help would be greatly appreciated.

[2021-07-27 18:57] rkalis commented on #98
Late in 2020 I started work on splitting up the Etherscan-specific and general verification functionality in https://github.com/rkalis/truffle-plugin-verify/tree/v0.6.0. The branch is quite outdated but it shows some insight into what I wanted to achieve there. Help is definitely welcome there since I haven't been able to finish what I started. I can try to make sure the v0.6.0 is up to date with

[2021-07-27 19:14] Mentors4EDU commented on #98
Yes that would be quite helpful, because I have no idea how to implement blockscout for my deployed contracts on Truffle, and hard to definitely verify manually

[2021-07-28 02:05] Mentors4EDU commented on #98
Quick Q: Would #99 be a proper merge if the Blockscout config files are added? If not, then 0.6.0 can be pushed up to-date manually, and then the configs can be added and merged w/ main.

[2021-08-02 09:59] light-fury opened #100 "Support for Fantom Testnet"
First, I want to say Thank you for the team of this library.
It makes our life easier.

Btw, I saw that it is supporting fantom mainnet with ftmscan.com.
Could you please add a support for testnet.ftmscan.com? It is for network_id: 4002
And it is from the same company who built etherscan, ftmscan and bscscan.

[2021-08-02 19:05] moda20 opened #101 "The "path" argument must be of type string. Received type undefined"
i am having and issue when trying to verify that is the error : The "path" argument must be of type string. Received type undefined
"
i don't know really what triggered it as the contract code is fairly standard, here is the debug version of the verification :
[code]

the error is after reading the `contractY`. another thing is that this worked for me at first but when changing the environment to

[2021-08-02 19:49] moda20 commented on #101
IS this an issue with linked Libraries? because contracY is actually a Library that i link it to contractX when deploying;

[2021-08-03 06:14] aster2709 opened #102 "hi, where do you get the polygonscan api from?"
unlike etherscan where it shows a button to sign up and obtain the api_key, i have deployed my contract to mumbai testnet, and looking to verify it with your plugin, but i cant find where to obtain the api key from like etherscan, can you tell me

[2021-08-03 08:57] rkalis commented on #102
Hey, to sign in and get an API key you need to be on the "mainnet" version of PolygonScan. Then you can use the same API key for Polygonscan mainnet and testnet. Good luck!

[2021-08-03 08:57] #102 closed

[2021-08-03 11:49] eugenekadish commented on #101
I am seeing the exact same issue with both Ropsten and test Binance Smart Chain. I am not using libraries.

Node: v16.6.0
Truffle: v5.4.3

[2021-08-03 20:46] moda20 commented on #101
update : i tried changing the version of this plugin to 5.1.3 but it had the same problem.

[2021-08-06 11:25] TheHumanoids opened #103 "No instance of contract [contractname] found for network id 1"
I've deployed a contract on the mainnet and am trying to verify it but I keep getting this message when using the following command:

`truffle run verify [contractname] --network mainnet`

`
No instance of contract [contractname] found for network id 1
Failed to verify 1 contract(s): [contractname]
`

Am I missing something?

[2021-08-07 13:50] BananaNeil commented on #101
I pushed a PR that solved this for me. Basically this plugin is not looking in your node_modules directory. The PR I pushed is pretty ugly, but it works. Hopefully someone who knows why it was written the way it was will have time to rethink how the node_modules directory should be scanned.

[2021-08-07 16:59] rkalis commented on #101
Interesting, thanks for raising the PR @BananaNeil. Do you have a repo where you're experiencing this bug?, It doens't look like it applies to *all* projects with contracts from NPM.

[2021-08-10 14:09] ss5nathan opened #105 "Verifying Libraries Exposes Local Path"
The settings portion of the verification exposes full local path to etherscan/bscscan. Below is an example. I would prefer for this not to happen, is there a way around this when using libraries? The specific issue I have is with this string "/Users/MYUSERNAME/MYLOCALPATHNAME/contract.sol" being exposed publicly.

`
{
  "optimizer": {
    "enabled": true,
    "runs": 200
  },
  "evmVersion": "ista

[2021-08-11 16:30] DooToTheMoon opened #106 "Cannot find module '\node_modules\@openzeppelin\contracts\GSN\Context.sol'"
Cannot find module '\node_modules\@openzeppelin\contracts\GSN\Context.sol'

Truffle v5.4.3 (core: 5.4.3)
Solidity - 0.5.5 (solc-js)
Node v14.17.4
Web3.js v1.5.0
Contract@2.5.0

[2021-08-11 17:13] #106 closed

[2021-08-22 04:10] AlekseyMak commented on #101
Got the same error.

My contract contains imports like these:

`import "../node_modules/@openzeppelin/contracts/access/AccessControlEnumerable.sol";
import "../node_modules/@openzeppelin/contracts/utils/Context.sol";
`

[2021-08-24 08:46] rkalis commented on #101
Thanks @AlekseyMak! Do you (or any of the other people in this thread) have a repo that I can use to reproduce this bug?

[2021-08-24 08:51] rkalis commented on #100
Thanks, I missed this issue before. FTM testnet support has now been released in v0.5.12

[2021-08-24 08:51] #100 closed

[2021-08-24 14:02] rkalis commented on #105
This is a good point, and it should be possible to fix this. I'll need to find the time to figure that out though.

[2021-08-24 14:03] rkalis commented on #103
Did you deploy the contract with `truffle migrate ... --network mainnet`? Was the contract deployed directly from the truffle migrations interface (`deployer.deploy(...)`) or was it deployed by another contract?

[2021-08-27 08:00] rzry opened #107 "Fail - Unable to verify"
err message :
Fail - Unable to verify
Failed to verify 1 contract(s): Gov
shell :
truffle run verify Gov --network bsc
detail:
Other contracts are okay, but this is not the case
version :
truffle-plugin-verify v0.5.12

debug  message :
DEBUG logging is turned ON
Running truffle-plugin-verify v0.5.12
Verifying Gov
Reading artifact file at /home/rzry/WorkBench/terra/card-contracts/build/contracts/Go

[2021-08-30 07:17] rzry commented on #107
已经解决了, 如果有同类

[2021-08-30 07:17] #107 closed

[2021-09-05 01:09] johnnyshankman commented on #42
Bump! I'll add that ordering is great but I would definitely settle for just being able to control which contract goes first. A very common use case is one main contract with ASCII art at the top which imports a multitude of openzeppelin libraries. As long as that one contract is hoisted the top, I'm not particular about the order of the rest.

[2021-09-05 09:21] rkalis commented on #42
That's a very good point you raised there @johnnyshankman. Making sure this "root" contract is on top should be *much* easier than figuring out the complete path, so that is something I can add. It makes sense to me that the "root" contract is the one that is being verified. e.g. `truffle run verify MetaCoin` means that `MetaCoin` will be on top. Can you think of any cases where you *wouldn't* wan

[2021-09-06 07:07] ClubMylo commented on #103
I have this same issue. I deployed with truffle.

[2021-09-06 07:28] rkalis commented on #103
Was the contract deployed directly from the truffle migrations interface (`deployer.deploy(...)`) or was it deployed by another contract? Do you have a code repo I can look at or do you have any other information about your project?

[2021-09-06 09:31] ClubMylo commented on #103
Can I email you directly all the information?

[2021-09-06 09:42] rkalis commented on #103
Sure, you can send it to roscokalis@gmail.com 👍

[2021-09-06 15:17] d-sfounis opened #109 ""Checking status of verification request xxxx" forever, stuck there."
Hey guys,

Started experiencing this today after migrating my truffle contract to the BSC testnet.
I run `truffle run verify myContract --debug --network bsc_testnet` and it just gets stuck on "Checking status of verification request xxx".

The `xxx` hash will change every time I `CTRL-C` and run a new verification attempt.

Hadn't experience any problems with `truffle-plugin-verify` before that a

[2021-09-06 15:46] xiskoct commented on #109
the same for me

[2021-09-06 15:48] d-sfounis commented on #109
Let's wait until tomorrow before we nag the repo owner, might be some temporary failure or BSC/BSCscan

[2021-09-06 17:06] jcihocki commented on #109
Just noting here that uploading the json output from --debug directly to the etherscan web app to verify still works as a stopgap

[2021-09-06 17:40] xiskoct commented on #109
is all the output of the --debug uploaded? or just from the sourcecode attribute? I am trying to verify it through the json in bscscan's testnet but I get:

Unable to process the standard-input-json you uploaded. ErrCode: Unable to parse Json file

[2021-09-06 17:41] d-sfounis commented on #109
Does bscscan have an equivalent? Could I please ask you for a link?

[2021-09-06 17:44] xiskoct commented on #109
I only tested it from https://testnet.bscscan.com/

[2021-09-06 20:39] EliteDaMyth commented on #109
Problem still persists!

[2021-09-06 20:54] nnamss commented on #109
Works on testnet bscscan but the issue still persists on mainnet.

[2021-09-06 21:22] rkalis commented on #109
Hey, since so many people are suddenly experiencing this, I do assume that there's some downtime on the Etherscan/BscScan side that causes it. @Enigmatic331 do you know if there's any issues with the verification API right now?

[2021-09-07 01:57] degeneratemoney commented on #109
Thanks, haven't been able to verify anything on Rinkeby the entire day

[2021-09-07 03:47] huaihuaisz opened #110 "Failed to verify 1 contract(s): crontractName"
How to solve this problem

[2021-09-07 06:15] jsdu commented on #109
been having this issue all day today too

[2021-09-07 07:26] Enigmatic331 commented on #109
Hey everyone - This should be sorted now - Please do give it another shot if your contracts are not verified yet, and let us know if there are issues?

Thanks and sorry for the trouble!

[2021-09-07 08:43] d-sfounis commented on #109
What was the issue?

[2021-09-07 09:02] rkalis commented on #109
Thanks for resolving the issues @Enigmatic331!

[2021-09-07 09:02] #109 closed

[2021-09-07 18:28] sudojanuc opened #111 "Cannot find module '@openzeppelin/contracts/GSN/Context.sol'"
Hello,
whenever i try to verify my ERC721 Contract I get the error message:
"Cannot find module '@openzeppelin/contracts/GSN/Context.sol'".

I am using the openzeppelin library (installed via npm install).

My SmartContract starts like this:

[code]

The ERC721 Contract has a dependency to the requested "Context.sol" Contract.

I also tried to import "@openzeppelin/contracts/GSN/Context.sol" on my

[2021-09-08 09:30] adriadrop opened #112 "How to use with multiple files?"
I am wondering is this tool compatible with multifiles contract, contracts that use import?
And if so how should we use it?

I am trying to verify multifile contract with polyscan, tried it with 5.14 and with legacy version 4.6 I get failed as result.
What I also noticed when debugging is that on older version there is

"codeformat": "solidity-single-file", and on newer version of this lib
 "codef

[2021-09-09 08:59] d-sfounis commented on #110
What's your output with the `--debug` flat enabled?

[2021-09-09 09:00] d-sfounis commented on #111
I think `Ownable` is under `import "@openzeppelin/contracts/access/Ownable.sol";`.

[2021-09-09 12:12] sudojanuc commented on #111
Thanks for the reply. The issue is definitely coming from the ERC721 import. I already removed the Ownable part and still got the same fault.
But I can verify it if i remove the ERC721 import.

By the way, I forgot to mention that im using version "2.5.1" of the openzeppelin library. Maybe this explains the difference in the import. I have to use this version, because I am using another library wh

[2021-09-09 12:14] rkalis commented on #111
Do you have your code repository available somewhere to check out what might be the issue? Also what OS are you using?

[2021-09-09 12:22] sudojanuc commented on #111
Yes, thats the contract I'm trying to verify:
https://github.com/sudojanuc/fitness-challenge/blob/main/contracts/ChallengeManager.sol

Contract address:
0x4D70519d63158e7be67c1B9B01C4b126039805FB

I am using Windows 10, but i also failed on Linux.

[2021-09-09 17:01] Applecakeman opened #113 "Failed to verify contract"
I'm currently trying to verify two contracts with truffle-plugin-verify on the rinkeby network.
Migrating over truffle is working without problems.
Some time ago  the verifying worked fine too, but now it's not possible for me to verify a special contract.
I already tried to verify the same contracts on different devices and it worked. Pretty strange behavior.
Especially that one of both contracts

[2021-09-10 17:46] rkalis commented on #103
@ClubMylo was able to figure out their issue. I haven't heard from @TheHumanoids, so I'm closing this issue. Feel free to re-open with more information in the future.

[2021-09-10 17:46] #103 closed

[2021-09-10 17:48] rkalis commented on #105
Hey @ss5nathan, I just tested with the latest versions of Truffle + truffle-plugin-verify, which should have fixed this issue due to the new `project:` prefix that was added by Truffle. Could you update to the latest truffle + truffle-plugin-verify to see if this issue is resolved on your side as well?

[2021-09-10 17:49] rkalis commented on #42
@johnnyshankman I just pushed version `0.5.15` which should now display the "main" contract on top (as I described in the comment above). Thanks for the suggestion. I'll leave this issue open since the rest of the file ordering is still not the way I would prefer.

[2021-09-10 18:00] rkalis commented on #112
It should work with multiple files. The plugin used to flatten the code, hence "solidity-single-file" for the `legacy` version of the plugin. The new version of the plugin uses multi-file verification so that it is clearer (see #37 for more context).

If it is not working for you there is probably a different reason for the errors. Perhaps you can share some more information about what you're tryi

[2021-09-10 18:06] rkalis commented on #59
It has been a long time since any activity on this issue, and I'm not sure what to do about this issue, so I will close this as a wontfix, but if people are still having these issues, I'd be happy to take a PR with a fix.

[2021-09-10 18:06] #59 closed

[2021-09-10 18:06] rkalis commented on #39
It has been a long time without activity on this issue and I don't think timeouts from Etherscan are something I'll be able to do something about in the plugin. So I will close this issue as a wontfix.

[2021-09-10 18:06] #39 closed

[2021-09-10 18:08] rkalis commented on #57
I will close this issue since it's not possible to verify Vyper through the Etherscan API, but if that changes in the future, feel free to re-open this issue.

[2021-09-10 18:08] #57 closed

[2021-09-10 18:10] rkalis commented on #56
@Enigmatic332 can I bump this to your attention, any idea why emojis are not allowed?

[2021-09-10 18:10] rkalis commented on #87
Closing this issue due to inactivity.

[2021-09-10 18:10] #87 closed

[2021-09-10 18:11] rkalis commented on #90
Closing this issue due to inactivity.

[2021-09-10 18:11] #90 closed

[2021-09-10 18:15] rkalis commented on #98
Hey @Mentors4EDU, sorry for the late reply. I'm guessing that PR into 0.6.0 should be fine, but I'd have to spend more time on making sure it does, which can take quite some time. In any case, this issue is captured in #82, so I'll close this issue for now.

[2021-09-10 18:15] #98 closed

[2021-09-10 18:25] Enigmatic331 commented on #56
Ah crap - I think I fixed this but forget to mention this - One sec...

[2021-09-10 23:47] daweizhao23 commented on #111
I might run into a similar issue.
"Cannot find module '@openzeppelin/contracts-upgradeable/access/OwnableUpgradeable.sol'"
I am using @openzeppelin/contracts-upgradeable@3.4.0

[2021-09-12 14:17] ctohster commented on #101
I'm having the same issue. Anyone fixed it?

[2021-09-15 23:37] lawweiliang opened #114 "Is that possible to verify all contracts at once?"
Current if I have 30 solidity contracts, I need to key in one by one

Currently
`truffle run verify ContractA --network rinkeby`
`truffle run verify ContractB --network rinkeby`
`truffle run verify ContractC --network rinkeby`

Is that any I could run something like that, then it will eventually verify all my contracts?
`truffle run verify all --network rinkeby`

thanks buddies

[2021-09-17 07:45] werksone commented on #111
Did anyone sort this issue out I seem to be running into a very similar issue "Cannot find module '@openzeppelin/"

[2021-09-17 07:46] werksone commented on #111
`truffle run verify NewTest --network rinkeby --debug                                                    [13:06:18]
DEBUG logging is turned ON
Running truffle-plugin-verify v0.5.15
Verifying NewTest
Reading artifact file at /Users/werksone/Documents/NFT/NFTTest04Truffle/build/contracts/NewTest.json
Retrieving constructor parameters from https://api-rinkeby.etherscan.io/api?apiKey=FCCUFVZVZCN462K61

[2021-09-18 17:32] wpitallo opened #115 "Etherscan has no support for network robsten with id undefined"
Anyone get this:
Etherscan has no support for network robsten with id undefined

[2021-09-18 17:38] #115 closed

[2021-09-19 18:50] d-sfounis opened #116 "Verify contracts that were deployed/instantiated internally (using new) by a contract's constructor"
Hai,

Is it possible to do what the title says thourgh `truffle-plugin-verify`?

I've got something like this in a single file:

[code]

You can imagine myContract2 is the *main* contract. I verify it just fine using the plugin, but the internal contract remains unverified. I've also tried running `truffle run verify` on it, but it of course cannot find a deployment instance.

[2021-09-20 16:11] rkalis commented on #56
Thanks @Enigmatic331! I'll close this issue now.

[2021-09-20 16:11] #56 closed

[2021-09-20 16:20] rkalis commented on #114
Seems like a fair feature to have. I think it should be possible to add an `--all` flag. Then the plugin should open every artifact in the contracts build folder and check if they have a deployed address for the specified network, if they do, it should get verified. `--all` should fail if used together with `--forceConstructorArgs`.

I'll need to find the time to implement this at some point in th

[2021-09-20 16:24] rkalis commented on #116
Unfortunately, this doesn't work automatically, since we can't automatically get the constructor arguments for these kinds of contracts (see #8).

If you know the constructor arguments that were used in the deployment you can use the `--forceConstructorArgs` flag, e.g.:

[code]

[2021-09-20 16:24] #116 closed

[2021-09-20 16:27] rkalis commented on #116
I'll add though that it might be possible to automatically figure out the constructor args for these "factory-deployed" contracts by using Tenderly or something similar, but I haven't figured that out yet. So if you (or anyone else) can figure it out I'll buy you a drink at the next devcon!

[2021-09-24 18:31] Applecakeman commented on #113
Are there some config files on linux I can delete to fix this problem?
Thanks!

[2021-09-25 09:36] rkalis commented on #113
You said it works on other machines? Does it work on other testnets? Do you have a code repo where it can be reproduced?

[2021-09-25 13:25] Applecakeman commented on #113
Yes it works on other machines, just at my main machine it fails and only this one contract.
I'm using Fedora 34 as os on all my machines.

I only tested on rinkeby, but I will test it on other testnets and give feedback.
Yes:
https://github.com/sudojanuc/fitness-challenge

Thank you very much for your help.

[2021-09-28 12:12] niccolopetti commented on #105
I have the same issue and I am using
[code]
running on Ubuntu 20.10

[2021-09-28 15:44] rkalis commented on #105
Does the issue also persist if you remove the contracts `build/` folder and recompile + redeploy + reverify the contracts?

[2021-09-29 10:11] 978740431 opened #117 "Cannot find module 'openzeppelin-solidity/contracts/utils/Context.sol'"
[code]

### my contact
[code]

### truffle-config.js
[code]

[2021-10-10 17:01] Applecakeman commented on #113
I tried it on the kovan network too. It's still not working.
Don't know what to do.

[2021-10-13 20:16] elpinguinofrio opened #120 "Fails with "Could not retrieve constructor parameters, using empty parameters as fallback""
I'm deploying gnosis safe manually via create1, and was able to successfully verity it on rinekby, bsc and polygon but not on mainnet.
it fails with contructor paramter, which souldn't be empty
[code]

[2021-10-14 06:32] PHPJourney opened #121 "Unable verify contract"
When I deployed to the BSC test network, I verified the contract and got the following verification failure error. Through the returned information, the cause of the error cannot be accurately investigated. At the same time, I tried to verify from the block browser website and got the error of bytecode mismatch.

[code]

[2021-10-30 11:23] rkalis commented on #101
Thanks @dustinb for creating that repo, I'll try to look into it some time next week.

[2021-11-04 11:39] rkalis commented on #101
Alright this should be fixed in v0.5.17. Please feel free to re-open if any issues persist. @BananaNeil thank you for the PR early on, but I ended up fixing it at the root of the issue.

This issue *only* happened when importing directly from `../node_modules`, for example:

[code]

The recommended way of importing npm packages is

[code]

Regardless, both methods should work now in v0.5.17!

[2021-11-04 11:39] #101 closed

[2021-11-04 11:40] rkalis commented on #113
Very strange. We'll chalk it up to some oddity with an older version of Solidity. Happy you were able to resolve it in any case.

[2021-11-04 11:40] #113 closed

[2021-11-04 11:44] rkalis commented on #120
Interesting. Do you have a repository where this can be reproduced?

[2021-11-04 11:48] rkalis commented on #93
Closing this due to inactivity. Feel free to re-open with more information.

[2021-11-04 11:48] #93 closed

[2021-11-04 11:49] rkalis commented on #112
Closing this due to inactivity. Feel free to re-open with more information.

[2021-11-04 11:49] #112 closed

[2021-11-04 11:49] rkalis commented on #110
Closing this due to inactivity. Feel free to re-open with more information.

[2021-11-04 11:49] #110 closed

[2021-11-05 09:57] if-x opened #123 "Snowtrace - Etherscan has no support for network avax with id 43113"
Looks like the newest version added support for Snowtrace. 🎉

Yet, it seems like it's not working for me.

Truffle config:
[code]

And API key config
[code]

Version:
[code]

Got error: `Etherscan has no support for network avax with id 43113` when trying to verify Snowtrace contract.

[2021-11-05 10:01] #123 closed

[2021-11-08 05:28] johnnyshankman commented on #42
@rkalis Wonderful!

[2021-11-08 07:55] SomeJoker commented on #39
I miss the same problem.
The reason for my problem is: the ip obtained by DNS resolution of the domain name cannot be connected.
 I check  api-rinkeby.etherscan.io get useable IP, add this IP mapping api-rinkeby.etherscan.io  to my local hosts file. Then I solve this problem.

That's get domain name mapping IP network.
https://url5.co/?t=1636355893

[2021-11-08 18:42] Julian-dev28 opened #124 "Snowtrace(Avalanche Fuji Explorer) support"
Hello

I tried to verify contracts on the Fuji Network but was unsuccessful due to an error, "No Etherscan API key specified" and then "Invalid API Key"

This is because of a bug found in network configurations within truffle-plugin-verify regarding Avalanche networks, `./node_modules/truffle-plugin-verify/constants.js`

Etherscan usually has the integer '1' assigned to it but when deploying to Av

[2021-11-08 18:49] rkalis commented on #124
Oof! Thanks for finding that @Julian-dev28. That leaves us in a bit of a pickle, since we use the truffle config's `network_id` to detect the network, so now we cannot automatically detect whether the network is Avalanche or Ethereum Mainnet.

We need to figure out a different way to differentiate between them. Perhaps we'd need to try to talk to the configured provider and retrieve the `chainId`

[2021-11-09 19:27] Julian-dev28 commented on #124
No prob. I actually found this bug in July before there was support for Fuji through snowtrace APIs but there wasn't a solution yet because we did not provide API keys to verify contracts at the time.

As far as a solution, I might suggest that someone clone this tool or perhaps truffle develops this tool specifically for the Avalanche network by implementing the suggested changes

Another solutio

[2021-11-10 15:39] fahadbraveknight commented on #117
Facing this same issue, is this resolved?

[2021-11-10 17:51] rkalis commented on #124
Hey @Julian-dev28, I just published v0.5.18 of the plugin which should fix the issue (tested it locally with Fuji). What I did is talk to the configured provider from the truffle-config and retrieve the chain ID from it, then use that chain ID in the place of network ID to get the API / explorer urls. If no provider is configured or it cannot retrieve the chain ID it falls back on network ID (shou

[2021-11-10 17:51] #124 closed

[2021-11-10 20:55] Julian-dev28 commented on #124
Awesome thank you!!!

[2021-11-13 01:18] DAC-PhilThomsen opened #125 "Address override yields "The /"path/" argument must be of type string." error."
I used the tool for quite some time and today was the first time something didn´t work as expected.
I tried to verify a Contract I deployed with Remix by using the optional address override as specified in the Documentation on npm.
I used the override many times before successfully, but today I got an error that I cannot figure out.
Everything seems to go fine until the error
"The /"path/" argumen

[2021-11-13 08:28] rkalis commented on #125
Can you try updating to the latest version of the plugin (0.5.18) and see if it pursists?

[2021-11-13 17:41] DAC-PhilThomsen commented on #125
Fixed. My bad for not checking the latest version. Thanks a lot.

[2021-11-13 17:42] rkalis commented on #125
No worries, was fixed very recently. Happy it's not a *new* big haha!

[2021-11-14 00:56] zhengxunWu1 opened #126 "Fail to verify EIP1167 Clone contract"
I deployed the contract using [clone model](https://docs.openzeppelin.com/contracts/4.x/api/proxy#minimal_clones), the cloned contract has no construction and construction parameter is passed through initialize function.
I am using `truffle run verify ContractName@{deployedAddr} --network kovan --debug` but I got `Fail - Unable to verify`

Is it possible to verify a cloned contract deployed throug

[2021-11-14 11:16] rkalis commented on #126
Hmm interesting. I'm not too familiar with EIP1167 Clones. I'm imagining that the "Clones.sol" contract includes some constructor args that it passes to the clone (even if the implementation doesn't have any). This needs some more research. Any help is definitely welcome here as well!

[2021-11-14 11:17] #125 closed

[2021-11-14 11:35] rkalis commented on #126
I see. After looking into it a "Clone" contract has a very specific EVM bytecode without any corresponding Solidity source code attached to it. As such it's impossible to "verify" the Clone contract. I can imagine that Etherscan already has support for Clone contracts or otherwise will most likely add support in the future to reflect that a certain contract is an EIP1167 Clone of a different contr

[2021-11-14 11:35] #126 closed

[2021-11-16 01:53] DAC-PhilThomsen commented on #117
Just want to say I am facing the same issue with every single file I want to import at the moment. It is kind of weird, will update if I find some workaround.

[2021-11-16 10:14] villarode opened #127 "Syntax Error - unexpected identifier - with api_keys in truffle config (truffle plugin verify)"
Hello guys I am running into a lil prob using automatic contract verification plugin:

I have everyhing set up in my truffle config:

plugins: [
'truffle-plugin-verify'
]
api_keys: {
etherscan: process.env.ETHERSCAN_API_KEY
}
};

However when I run ::

$ yarn truffle deploy --network rinkeby
C:\Users\User\OS721_Rinkeby\truffle-config.js:120
api_keys: {
^^^^^^^^

SyntaxError: Unexpected identifier

[2021-11-16 10:23] rkalis commented on #127
From looking at this it appears you're missing a comma after the `]`.

[2021-11-17 07:33] villarode commented on #127
Yes mate, you are absolutely tight, cheers for the prompt answer!)

[2021-11-17 08:00] villarode commented on #127
Hello again, I have another question if I may) also related to verifying contracts using truffle verify plugin.

The name of my deploy compilation target (sitting in build/contracts... ) is Villa_Rode_AL,, this is the name of my contract for verify plugin, right?

So this is what I'm getting with and without the contract digits after the ContractName:

User@WIN-7DVVFALHNLB MINGW64 ~/OS721_Rinkeby

[2021-11-17 08:52] rkalis commented on #127
Did you deploy the contract using Truffle as well (`truffle migrate ...`)? Was the contract deployed by another smart contract?

[2021-11-17 09:25] villarode commented on #127
Yes, it was deployed using truffle as well - as a matter of fact I re-deployed it before running verify:

$ yarn truffle deploy --network rinkeby

Compiling your contracts...
===========================

   - solc: 0.8.10+commit.fc410830.Emscripten.clang

Network up to date.
Network up to date.

[2021-11-17 09:27] villarode commented on #127
The contract was not deployed thru another contract, I basically did all the deployment from scratch installing nvm, yarn etc.... Pretty much in line with OpenSea documentation for beginners (Or Alchemy documentation, for that purpose)..

[2021-11-17 10:03] villarode commented on #127
That was by the way my original .sol file that I used to create the contract:

// SPDX-License-Identifier: MIT

pragma solidity ^0.8.0;

import "./ERC721Tradable.sol";
import "@openzeppelin/contracts/access/Ownable.sol";

/**
 * @title Villa_Rode_AL_OS721_Rinkeby
 * Creature - a contract for my non-fungible creatures.
 */
contract Villa_Rode_AL is ERC721Tradable {
    constructor(address _proxyReg

[2021-11-17 10:14] villarode commented on #127
Funny thing actually is that

https://testnets.opensea.io/assets/0xb5d9837aE53020706e0E7a0b5B586499d1f3a5aD

0xb5d..... being my deployed contract returns error 404 your asset is not found..... It probably has much to do with me not being able to mint any tokens into my contract using Pinata....(

[2021-11-17 11:13] rkalis commented on #127
Can you run `truffle migrate --network rinkeby --reset`. That should force a redeployment.

[2021-11-17 11:56] rocketvilas opened #128 "Fail - Unable to verify"
truffle run verify DecentralizedAutonomousTrust@0xfa1B723C90927650b142a2c4a12644321C168d03 --network ropsten --debug
DEBUG logging is turned ON
Running truffle-plugin-verify v0.5.18
Retrieving network's chain ID
Verifying DecentralizedAutonomousTrust@0xfa1B723C90927650b142a2c4a12644321C168d03
Reading artifact file at /Users/vilasmalhotra/Desktop/fairmint-c-org/build/contracts/DecentralizedAutonomo

[2021-11-17 12:44] rkalis commented on #128
Why are you specifying a custom address? What happens when you omit it?

[2021-11-17 12:46] rocketvilas commented on #128
It gives the same error, I was just trying it by giving custom address.

[2021-11-17 12:52] rkalis commented on #128
Ah I see. Is it an option for you to update the Solidity version to something more recent version (e.g. `0.8.x`). That may help. It's always very difficult to debug specific verification issues, so sometimes it's better to try some easier steps first.

Also does it work when you install `truffle-plugin-verify@legacy`?

[2021-11-17 14:15] villarode commented on #127
I ran a --reset, obviously I got a new contract number which I also whitelisted in Alchemy.

Nothing changed then:

User@WIN-7DVVFALHNLB MINGW64 ~/OS721_Rinkeby (master)
$ yarn truffle run verify Villa_Rode_AL --network rinkeby
Verifying Villa_Rode_AL
No instance of contract Villa_Rode_AL found for network id 4
Failed to verify 1 contract(s): Villa_Rode_AL

User@WIN-7DVVFALHNLB MINGW64 ~/OS721_Rin

[2021-11-17 14:17] villarode commented on #127
What especially spuns me is that no instance of the contract is found for rinkeby network.... This contract name (Villa_Rode_AL) was specified from starters, in the initial .sol file and obviiusly is created in ...build/contracts/.... on compilation.

[2021-11-17 14:18] rkalis commented on #127
Hmm yeah. When you look in the artifact JSON file for that contract and search for `"networks"`, does it show deployed contracts?

e.g.

[code]

[2021-11-17 14:42] villarode commented on #127
amazingly.... in the target file Villa_Rode_AL.json in ....build/contracts/... no, I'm not seeing that.... What I'm seeing is:

"compiler": {
    "name": "solc",
    "version": "0.8.10+commit.fc410830.Emscripten.clang"
  },
  "networks": {},
  "schemaVersion": "3.4.3",
  "updatedAt": "2021-11-17T14:05:41.906Z", etc etc etc

[2021-11-17 14:43] villarode commented on #127
even though when the conract was being created I saw all that info:

1_initial_migration.js
======================

   Replacing 'Migrations'
   ----------------------

   -------------------------------------

Summary
=======

Starting migrations...
======================

1_initial_migration.js
======================

   Replacing 'Migrations'
   ----------------------

- Blocks: 0            Se

[2021-11-17 14:45] villarode commented on #127
Truffle-config seems to be alright::

networks: {
    // Useful for testing. The `development` name is special - truffle uses it by default
    // if it's defined here and no other network is specified at the command line.
    // You should run a client (like ganache-cli, geth or parity) in a separate terminal
    // tab if you use this network and you must also set the `host`, `port` and `network

[2021-11-17 14:49] villarode commented on #127
Actually, found it:

"networks": {
    "4": {
      "events": {},
      "links": {},
      "address": "0x95a0f00C4ca7C3d107455B9215621B17c24F217F",
      "transactionHash": "0xe7d996468f8eb6419f9f0d4f3b094faa6d883027970fd2cd008098e1b4eebac4"
    }
  },

It sits in Migrations.json file which is also in .... build/contracts..... directory along with Villa_Rode_AL.json file

[2021-11-17 14:54] villarode commented on #127
and now when I try to verify Migrations.json instead of Villa_Rode_AL.json, I'm getting this:

User@WIN-7DVVFALHNLB MINGW64 ~/OS721_Rinkeby (master)
$ yarn truffle run verify Migrations --network rinkeby
Verifying Migrations
Pass - Verified: https://rinkeby.etherscan.io/address/0x95a0f00C4ca7C3d107455B9215621B17c24F217F#code
Successfully verified 1 contract(s).

User@WIN-7DVVFALHNLB MINGW64 ~/OS72

[2021-11-17 15:02] villarode commented on #127
Point is the reset contract is successfully verified:

I'm pretty sure by the way it would have worked the same way before the reset if I was doing verify on Migrations.json instaed of on Villa_Rode_AL.json (which I thought was the right contract name to verify).....

By the way why is that we need to do it on Migrations and not on the ContactName itself?)

[2021-11-17 15:08] rocketvilas commented on #128
Still no luck, getting the same error.

[2021-11-17 15:10] villarode commented on #127
Many thanks for your help!) by the way what's gonna happen to my previous deployment which I reset? Is it onna be still alive somehow? Or can I forget about it altogether?)

[2021-11-17 15:33] rkalis commented on #127
Wait it looks like you don't have a deployment script for the `Villa_Rode_AL` contract. By default truffle only has the `1_initial_migration.js` file listed under `migrations/` which deploys `Migrations.sol` if you want to deploy the other contract you need to add an additional deployment script (e.g. `2_deploy_villa_rode_al.js`) with the corresponding deployment code.

[2021-11-17 17:14] villarode commented on #127
May be this is all very related to another problem that I'm running into(

I'm trying to create some nfts under the roof of my contract. I have created an nft-metadata.json file with a reference to a picture on Pinata:

{
    "attributes" : [ {
      "trait_type" : "Breed",
      "value" : "Maltipoo"
    }, {
      "trait_type" : "Eye color",
      "value" : "Mocha"
    } ],
    "description" : "T

[2021-11-17 17:23] rkalis commented on #127
The contract you are looking at now is the "Migrations" contract that is included with Truffle by default. If you add the deploy script for your own contract and then verify it with the plugin you should be able to interact with the correct contract on Etherscan.

[2021-11-17 17:38] rkalis commented on #128
Hmm alright. Do you have a repository where I can reproduce the issue?

[2021-11-17 17:49] villarode commented on #127
Cheers mate, much appreciated, I reckon much of cobweb is cleared in my head by now))

[2021-11-17 18:04] villarode commented on #127
Is my thinking correct that in migrations file:

const Migrations = artifacts.require("Migrations");

module.exports = function (deployer) {
  deployer.deploy(Migrations);
};

in line artifacts.require("Migrations") Migrations will have to be replaced with my ContractName, e.g. Villa_Rode_AL?

[2021-11-17 19:10] rkalis commented on #127
Yeah that's right.

[2021-11-17 19:14] rocketvilas commented on #128
Thanks for the help man, it worked. I redeployed the contract and it got verified.

[2021-11-17 19:14] #128 closed

[2021-11-18 05:21] shep-analytics opened #129 "Mumbai Polygon API key Failed to Verify"
With a valid API key from polygon, I always get that the API key is invalid trying to verify on the mumbai testnet. This plugin has saved me countless hours on other chains, I would love to be able to completely use it on MATIC.

Any help would be greatly appreciated!

[code]

[2021-11-18 10:50] rkalis commented on #127
I'm closing this issue. Feel free to open another issue if you run into any verification issues after setting up the deploy scripts.

[2021-11-18 10:50] #127 closed

[2021-11-18 10:53] rkalis commented on #129
Did you configure a separate API key for PolygonScan? You need to request a separate API key from PolygonScan to verify on Polygon / Mumbai, you can't use the same API key as with Etherscan.

[2021-11-18 13:50] villarode commented on #127
yes of course mate thank you

[2021-11-18 15:58] villarode opened #130 "Lil problem with deploying contracts with 2,3,4..... digits in Migrations directory"
Hello and sorry to pester again)

In my migrations subdir I created (aside from 1_initial_migration) another file 2_deploy_Villa_Rode_AL.js:

const Villa_Rode_AL = artifacts.require("Villa_Rode_AL");

module.exports = function (deployer) {
  deployer.deploy(Villa_Rode_AL);
};

I am running deployment script $ yarn truffle deploy --network rinkeby

Apparently the 2nd migration to my contract Villa_

[2021-11-18 16:20] rkalis commented on #130
If your contract has constructor parameters you need to provide a value for them in the `deployer.deploy` call

[2021-11-18 17:09] villarode commented on #130
The constuctor in the contract is below, would I then need to put address _proxyRegistryAddress right after Villa_Rode_AL within round brackets in deployer.deploy call?

import "./ERC721Tradable.sol";
import "@openzeppelin/contracts/access/Ownable.sol";

/**

@title Villa_Rode_AL_OS721_Rinkeby

Creature - a contract for my non-fungible creatures.
*/
contract Villa_Rode_AL is ERC721Tradable {
const

[2021-11-18 18:31] rkalis commented on #130
You need to put the actual registry address. Presumably this code is from some kind of tutorial, so perhaps they can give you more information on how to proceed with the contract / deployment. Since it's going to be difficult for me to help you debug your contracts and deployment process.

[2021-11-18 18:38] d-sfounis opened #131 "Providing my own ContractCode during a verification run"
Hi,

You might be aware that **Arbitrum**'s arbiscan is having trouble (for the past 6 months) with sub-contracts generated through `new` of a parent contract. These addresses are reported as Addresses, not Contracts.

Therefore, any verification request by `truffle-plugin-verify` fail with error code:
`Unable to locate ContractCode at 0x74915bc0716a2a6545fb33cb4414a2d364712efc`

Is there any way

[2021-11-18 18:44] rkalis commented on #131
Oh that's weird! @Enigmatic331, something for you guys to look at?

[2021-11-18 18:48] Enigmatic331 commented on #131
Ah. That is as we don't have access to the rpc calls which makes it possible for us to index factory creates/internal creates (i.e. CREATE/CREATE2 opcodes)... Yet.

Once these are made available to us we will roll out this feature for Arbiscan! 🙏

[2021-11-18 18:55] rkalis commented on #131
Thanks for the quick reply! So @d-sfounis I'll close this issue for now since there's nothing for me to implement here. Once it's implemented in Arbiscan it should work from the plugin side as well!

[2021-11-18 18:55] #131 closed

[2021-11-18 19:08] villarode commented on #130
yes it is actually fromOpenSea tutorial on their site.... I will try to get some info from them... Thank you very much for your help, it is much appreciated!)

[2021-11-18 20:02] rkalis commented on #130
Happy to help! Feel free to re-open this issue if you run into any verification issues after you get the deployment working correctly!

[2021-11-18 20:02] #130 closed

[2021-11-22 03:21] shep-analytics commented on #129
Yes, I used a polygonScan API

Alex

On Thu, Nov 18, 2021 at 3:53 AM Rosco Kalis ***@***.***>
wrote:

[2021-11-23 03:29] eulerbeat commented on #117
Facing the same issue, one workaround is to flatten the file and verify.

[2021-11-23 03:31] eulerbeat commented on #111
Same issue here - https://github.com/rkalis/truffle-plugin-verify/issues/117

Not resolved yet

[2021-11-23 03:34] eulerbeat commented on #117
Relevant SO - https://stackoverflow.com/a/67037823/13470566

[2021-11-24 19:24] rkalis commented on #117
So this issue looks similar to some other issues that were raised before such as #111. And the weird thing is that this does not happen with *all* imported contracts, otherwise there would be many more bug reports. So there must be *some* reason for why this happens *sometimes* but not for everyone. This issue is definitely on my list, but this makes it difficulyt to debug.

[2021-11-24 19:25] rkalis commented on #117
If there's anyone with a repository where you're experiencing this that I can take a look at, please let me know.

[2021-11-26 03:00] cola8888 opened #132 "bscscan HTTP 403 captcha-bypass??"
![image](https://user-images.githubusercontent.com/63403598/143520122-b17289af-8595-4e2c-bff5-c6172abb3171.png)
![image](https://user-images.githubusercontent.com/63403598/143520165-1d615332-9486-40a4-ae8c-a08803f92903.png)

[2021-11-26 03:02] #132 closed

[2021-11-29 02:08] happyeric77 opened #133 "Fail - Unable to verify"
Hi team,

When I try tried to verify one of my contracts on BSC mainnet and it failed with Fail - Unable to verify. I have already tried several times with the same error. It will be appreciated if someone can give me a hint where did I do wrong.
Below is the --debug messages showing while doing the process.

[code]

[2021-11-29 05:25] happyeric77 commented on #133
I redone the whole process through truffle cli but still fail:
[code]

I tried to do exactly the same process as above on testnet and it went through:
[code]
The contract code can be seen here (https://testnet.bscscan.com/address/0x674a5B810c3b22Defbd44E1c0d364f9921AC021a#code)

[2021-11-30 03:26] debluelight opened #135 "Failed to verify 1 contract(s)"
I run command "truffle run verify MetaMuskTokenV3@0xc77408aaefd316790061295b0db548c2903ff41c --network bsc --debug" and got debug result on cli as bellow, please help me to take alook

`
DEBUG logging is turned ON
Running truffle-plugin-verify v0.5.18
Retrieving network's chain ID
Verifying MetaMuskTokenV3@0xc77408aaefd316790061295b0db548c2903ff41c
Reading artifact file at /Volumes/Data/source-cod

[2021-12-01 03:46] ghost opened #136 "Support for OKLINK (OkEx Chain)"
Please add support for OKLINK.
The current issue
Etherscan has no support for network mainnet with chain id 66

[2021-12-01 20:32] delarosan1 commented on #121
whats libraries and abiencoderv2??????

[2021-12-02 17:45] PixelHeroMedia opened #137 "Does not verify implementation contract when using Upgradeable proxies"
I am deploying an upgradeable proxy, but this plugin only verifies the Proxy contract and not the Implementation one.
If I try to run it, it tells me the Proxy address is already verified, but I need to verify the Implementation too...

any way to do this?

[2021-12-02 19:59] juliensie commented on #117
Hi @rkalis

Same thing : https://github.com/trendev/greeting

[2021-12-02 20:00] juliensie commented on #117
[code]

[2021-12-02 22:06] juliensie commented on #117
Well, it is a very basic smart contract using openzeppelin's `Ownable` so if you import the `.sol` contracts directly, it works : https://testnet.snowtrace.io/address/0xc0ea70bf310b43c7e3e5a60c209203f5788b66d5#readContract

👉  https://github.com/trendev/greeting  ➡️  the `main` branch uses "`@openzeppelin`" imports and  the `issue-truffle-verify` branch uses local downloaded contract.

[2021-12-02 22:07] juliensie commented on #117
sounds like an issue during the imports parsing... 🤔

[2021-12-03 12:42] juliensie commented on #117
... I messed up w/ dependencies but it works 🆗

[2021-12-06 08:17] rkalis commented on #136
Since they have a very differeny API interface from Etherscan and its derived platforms, this is a significant amount of work to integrate into this code base. It might be possible to pick this up *after* BlockScout / Sourcify support, but adding support for those platforms is also not a very high priority, so while I won't close this issue outright I have to say that there's a high chance that th

[2021-12-06 08:19] rkalis commented on #117
That's great, thanks for the repository! Will check it out.

[2021-12-06 08:57] rkalis commented on #117
I couldn't reproduce the issue on your repository @juliensie, verification worked fine for me. What OS + Node version are you using?

[2021-12-06 08:58] rkalis commented on #111
To anyone experiencing this issue: what version of Node are you running?

[2021-12-06 10:50] juliensie commented on #117
https://github.com/rkalis/truffle-plugin-verify/issues/117#issuecomment-985488649, solved buddy ✅

[2021-12-06 11:35] rkalis commented on #117
Oh I see, that's good to hear! Could you share what you were doing wrong and how you solved it? That could help other people who find this issue in the future.

[2021-12-06 11:38] juliensie commented on #117
I've just imported your package in the correct dependencies...

[2021-12-06 17:26] rkalis commented on #137
Yes, this is a known issue, and it would be possible to fix this in the plugin, but it would be quite some work. A workaround for now is finding the address for the contract and running `truffle run verify Contract@<address>`. See #80 for more conversation around proxies.

[2021-12-06 17:26] #137 closed

[2021-12-06 18:33] rkalis commented on #133
Verification on BscScan can have some hiccups every now and then. Does this issue still persist?

[2021-12-06 18:33] rkalis commented on #129
Does this issue still persist?

[2021-12-06 18:34] rkalis commented on #135
1. Does this issue still persist?
2. Do you have a repository where this can be reproduced?

[2021-12-06 18:36] rkalis commented on #97
Hey, do you happen to have a repository where this can be reproduced?

[2021-12-06 18:36] rkalis commented on #89
@disruptcapital does this issue still persist?

[2021-12-10 19:56] rkalis commented on #80
I'm happy to announce that version `0.5.20`of the plugin now supports EIP1967 proxy verification out of the box 🥳

You don't need to provide any options or anything. If you try to verify a proxy address, the plugin will verify the *implementation* instead of the proxy address, and then automatically calls Etherscan's "proxy verification" so that it gets properly marked as a proxy (with Read/Write

[2021-12-14 23:31] romuloags commented on #111
same issue, I can not verify the contracts where I used the openzeppelin library (Context.sol)

[2021-12-14 23:34] romuloags commented on #111
I'm using v14.17.5 (node.)

[2021-12-15 16:01] rkalis commented on #111
Any reproduction repos?

[2021-12-15 16:02] rkalis commented on #120
Can't debug this without a reproduction repo, so I'm closing this. Feel free to re-open with more info in the future.

[2021-12-15 16:02] #120 closed

[2021-12-15 16:04] rkalis commented on #105
Can't debug this without a reproduction repo, so I'm closing this. Feel free to re-open with more info in the future.

[2021-12-15 16:04] #105 closed

[2021-12-15 16:06] rkalis commented on #66
This has been open for >9 months, and at this point I think it's unlikely that I will be able to implement an update that works for both cases. If anyone finds this issue in the future, the workaround is using version `0.5.3` of the plugin or below.

[2021-12-15 16:06] #66 closed

[2021-12-15 16:08] rkalis commented on #121
Do you have a repository where this can be reproduced?

[2021-12-15 16:12] rkalis commented on #117
This issue has been open for a while, but it looks like it's a duplicate of #111 so I'm closing this issue. If you find this issue in the future, please join the conversation in that issue instead.

[2021-12-15 16:12] #117 closed

[2021-12-15 16:52] d10r commented on #80
Great feature!

I just tried it with Optimism Kovan and it mostly worked:
[code]

Result: https://kovan-optimistic.etherscan.io/address/0x2C5Eb72F22483613fed7b241d41C7B0e35Bfb9f8#code

What's missing though: the contract was not marked proxy (the part which is triggered by "More Options -> Is this a proxy?" in the UI. This is supposed to now happen automatically, correct?

![image](https://user-im

[2021-12-15 22:49] rkalis commented on #80
Oh interesting. It should have done so automatically. Could you re-run verification with the `--debug` flag and paste the output here?

[2021-12-16 09:47] d10r commented on #80
[truffle-verify-0xDb22289a642961A603AE2e247274f2dC10cBAaB5.txt](https://github.com/rkalis/truffle-plugin-verify/files/7726095/truffle-verify-0xDb22289a642961A603AE2e247274f2dC10cBAaB5.txt)

etherscan API key replaced with ...

What hits my attention here:
[code]

It's actually not very clear to me how the various etherscan instances do or do not share accounts / API keys.
In this plugins, the vari

[2021-12-16 09:50] d10r commented on #83
I think this would be a great improvement in terms of security.
Sourcify uses IPFS which comes with implicit integrity checking due to content addressing. That can avoid security issues like this: https://www.paradigm.xyz/2021/11/hiding-in-plain-sight/

[2021-12-16 14:03] rkalis commented on #80
Thanks for the detailed info @d10r!

I believe that when Optimistic Etherscan was launched they didn't have any API keys. It looks like they do have separate API keys for it now, but it still doesn't check those API keys for the *regular* source code verification requests, which is why this bug didn't occur before I implemented proxy verification.

But they do check the API keys for proxy verifica

[2021-12-16 14:22] romuloags commented on #111
sure. https://github.com/romuloags/redCriptoPay/tree/testnet
I deployed my contracts on ropsten , I have only been able to verify 1 contract (the one doesn't have openzeppelin library)

[2021-12-16 16:52] rkalis commented on #111
Thanks for providing the repo. When I ran `npm install` and tried to verify I got some other error messages which were resolved after upgrading from `0.5.3` to `0.5.20`.

From there I have tried to reproduce this issue with a lot of different configurations (any combination of using Node 12/14 and NPM 6/7/8/Yarn), but I wasn't able to reproduce it.

@romuloags what OS and Truffle version are you r

[2021-12-17 20:26] romuloags commented on #111
I'm using WSL2
Ubuntu 20.04.2 LTS (GNU/Linux 5.10.16.3-microsoft-standard-WSL2 x86_64)
 npm: '6.14.14',
Truffle v5.4.7 (core: 5.4.7)
Solidity v0.5.16 (solc-js)
Node v14.17.5
Web3.js v1.5.2

[2021-12-18 07:02] timwoodward opened #139 "Polygon Mumbai: Failed to verify (Görli AOK)."
On standby to assist remotely with issue resolution.

Repeated failures with complex deployment; created simple test contract to fault find: failed to verify on Polygon Mumbai with and without custom address; tested and working AOK on Görli only with custom address.

...

truffle-plugin-verify 0.5.20
Truffle v5.4.25 (core: 5.4.25)
Solidity - 0.8.10 (solc-js)
Node v17.2.0
Web3.js v1.5.3

...

Conso

[2021-12-18 14:08] rkalis commented on #111
Could you just try updating to the latest Truffle (`npm install -g truffle@latest`) and retry the process? That's the only thing that I can think of atm.

[2021-12-20 07:31] bugdoge commented on #59
I have the same problem

[2021-12-20 10:06] bugdoge commented on #59
I konw how to fix it.

When you use vpn network, you need to set the axios proxy setting.

for me, i edit the source code "verify.js",  and insert the code below:

const HttpsProxyAgent = require('https-proxy-agent'); //need to set the dependencies on package.json
const const axiosDefaultConfig = {
    proxy: false,
    httpsAgent: new HttpsProxyAgent('http://127.0.0.1:8080') //use you vpn proxy a

[2021-12-20 15:00] rkalis commented on #139
Can you look at #97 and see if that matches what you're experiencing and if using the `legacy` tag works for you? And could you provide a repository where this issue can be reproduced?

[2021-12-20 15:25] rkalis commented on #133
Closing this issue due to inactivity. I've also added a new "Bug report" template that asks for some required information that I need to look into an issue. Feel free to open a new issue with that bug report template if the issue persists.

[2021-12-20 15:25] #133 closed

[2021-12-20 15:26] rkalis commented on #129
This may be a duplicate of #97. If this issue persists, please provide any more information in that issue.

[2021-12-20 15:26] #129 closed

[2021-12-20 15:26] rkalis commented on #135
Closing this issue due to inactivity. I've also added a new "Bug report" template that asks for some required information that I need to look into an issue. Feel free to open a new issue with that bug report template if the issue persists.

[2021-12-20 15:26] #135 closed

[2021-12-20 15:28] rkalis commented on #89
Closing this issue due to inactivity. I've also added a new "Bug report" template that asks for some required information that I need to look into an issue. Feel free to open a new issue with that bug report template if the issue persists.

[2021-12-20 15:28] #89 closed

[2021-12-20 19:45] romuloags commented on #111
It did not work.

[2021-12-20 23:31] romuloags commented on #111
I  decided to copy and paste OpenZeppelin libraries directly in the contracts, and it worked just fine. even though you have to do this and can be kind of annoying, this plugin really helps to verify the contracts faster and easier than directly from etherscan. thanks for the help though.

[2021-12-21 22:01] nacho-villanueva opened #141 "Failed to verify. No description."
Hello!
I'm trying to verify a contract on PolygonScan for the Mumbai testnet, but I'm getting a failed to verify contract, but I don't get much of a description when using debug. Any idea why? Here's the console result

[code]

Tried using with and without the @ and nothing changes.
Thank you in advance!

[2021-12-24 19:30] hasandogu commented on #111
I have the same issue but with a package that is local (bootstrapped with lerna) instead of OpenZeppelin.

npm: 7.17.0
node: 14.15.1
truffle: 5.4.26
truffle-plugin-verify: 0.5.20
solidity: 0.8.6

[2021-12-26 01:23] nacho-villanueva commented on #141
I believe this isn't a problem with the truffle-verify-plugin, because while using hardhat I get also get an error. My best guess is that there's something wrong with the PolygonScan API for the Mumbai testnet.

[2021-12-29 19:03] shep-analytics commented on #139
Hi, I still have the same problem, and legacy doesn't seem to work.

[2021-12-29 21:49] rkalis commented on #139
Do you have a repository?

[2021-12-29 21:52] rkalis commented on #141
Yeah I've been getting a lot of reports about Mumbai not working lately (see #97, #129, #139). So I'll close this issue as a duplicate for now. Not sure if there's much I can do here actually.

[2021-12-29 21:52] #141 closed

[2021-12-29 23:34] shep-analytics commented on #139
https://github.com/shep-analytics/widget

[2021-12-30 19:31] denizsurmeli opened #142 "Cannot read property 'address' of undefined"
**Describe the bug**

Hey, thanks for your work in advance. I have tested and migrated my contracts using truffle, contracts are deployed on `rinkeby` but I get the error `Cannot read property 'address' of undefined`. You can check the repo that I'm working on in [here](www.github.com/denizsurmeli/interface). I must also note that one of the contracts depend on other contract's address, but I assu